.m-basemap-selectors {
  align-content: center;
  justify-content: space-between;
  padding: rem(10px) rem(0px) !important;

  li {
    flex-basis: 25%;
  }

  button {
    width: 100%;
    @extend %clean-button-or-input;

    &.is-active span {
      color: $font-color-2;
    }
  }

  span {
    display: flex;
    flex-direction: column-reverse;
    height: 90px;
    width: 72px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 58px;

    &.icon-satellite {
      background-image: image-url('satellite_map.jpg');
    }

    &.icon-topographic {
      background-image: image-url('topographic_map.jpg');
    }

    &.icon-dark {
      background-image: image-url('dark_map.jpg');
    }

    &.icon-default {
      background-image: image-url('default_map.jpg');
    }

  }
}
