<div class="container">
  <div class="navigation">
    <div class="btn-back-analysis">New analysis</div>
  </div>
  <div class="content">
    <h2>{{category}}</h2>
    <div class="widgets m-widgets-list"></div>
  </div>
</div>