<div class="container">
  <div class="navigation">
    <div class="btn-back-analysis">
      <svg class="icon">
        <use xlink:href="#icon-back-arrow"></use>
      </svg>
      New analysis
    </div>
  </div>
  <div class="content">
    <h2>{{category}} in {{country}}</h2>
    <div class="widgets m-widgets-list"></div>
  </div>
</div>