<div class="selector-box">
  <div class="heading">
    <svg class="icon">
      <use xlink:href="#icon-check"></use>
    </svg>
    <h2>1. SELECT A "DATASET"</h2>
  </div>

  <ul>
    {{#each categories}}
    <li class="category" data-slug="{{slug}}">{{name}}</li>
    {{/each}}
  </ul>
</div>

<div class="searchAnalysisBox selector-box">
  <div class="heading">
    <svg class="icon">
      <use xlink:href="#icon-check"></use>
    </svg>
    <h2>2. SELECT A COUNTRY</h2>
  </div>

  <div class="m-search-analysis">
    <svg class="icon-search">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
    </svg>
    <input class="searchAnalysis" placeholder="Type country" type="search" />
    <div class="analysisSearchContent search-box"></div>
  </div>
</div>

<div class="analyze disabled">
  <button class="btn-analyze">Analyze <svg class="icon"><use xlink:href="#icon-next-arrow"></use></svg></button>
</div>