<select name="analysis-category" id="">
  <option value="no-category">select category</option>
</select>

<select name="analysis-category" id="">
  <option value="no-country">select country</option>
</select>
