<div class="m-analysis-model">
  <div class="tabs js-tabs">
    <button type="button" {{#compare tab '===' 'region'}}class="-active"{{/compare}} data-tab="region">Country or region</button>
    <button type="button" {{#compare tab '===' 'shape'}}class="-active"{{/compare}} data-tab="shape">Draw or upload shape</button>
  </div>

  {{#unless geojson}}
    {{#compare tab '===' 'region'}}
      <p>
        Select a country or region from the list below.
      </p>
      <div class="m-search-analysis">
        <svg class="icon-search">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
        </svg>
        <input class="searchAnalysis" placeholder="Type country" type="search" />
        <div class="analysisSearchContent search-box"></div>
      </div>
    {{/compare}}

    {{#compare tab '===' 'shape'}}
      <p>
        Draw on the map the area you want to analyze or pick a file.
      </p>
      <div class="buttons">
        <button type="button" class="btn -primary js-toggle-draw">{{#if drawing}}Cancel{{else}}Start drawing{{/if}}</button>
        <br/>or<br/>
        <button type="button" class="btn -dotted js-pick-file">Pick a GeoJSON file or drop it here</button>
      </div>
    {{/compare}}
  {{else}}
    <div class="analysis-content js-analysis-content">
    </div>
    <div class="buttons">
      <a class="btn -primary js-download-report">Download PDF report</a>
      <button type="button" class="btn js-reset">Reset the analysis</button>
    </div>
  {{/unless}}
</div>
