<div class="m-analysis">
  <div class="container">
    <div class="btn-close">×</div>
    <div class="content">
      <h1>Analysis</h1>
      {{#each categories}}
        <h2>{{category_name}}</h2>
        <div id="widgets"></div>
      {{/each}}
    </div>
  </div>
  <div class="bg-window"></div>
</div>