<ul id="sidebarTabs" class="tabs tabs-secondary-content" role="tablist" data-tab>
  <li class="tab-title {{#compare tab '===' 'layers'}}active{{/compare}}" data-section="layers">
    <a href="#layersListView">Layers</a>
  </li>
  <li class="tab-title {{#compare tab '===' 'models'}}active{{/compare}}" data-section="models">
    <a href="#modelContent">Predictive models</a>
  </li>
</ul>

<div class="tabs-content content">
  <div id="layersListView" class="m-layers-list content active"></div>
  <div id="modelContent" class="m-model-content content"></div>
</div>

<div class="sidebar-logo">
  <p class="site-title"><a href="http://www.resilienceatlas.org/" target='_blank' title='Resilience Atlas'>Resilience Atlas</a></p>
  <p class="site-title-by">by</p>
  <a class="brand-area" href="http://www.conservation.org/" target='_blank' title='Conservation International'>Conservation International</a>
  <p class="site-copyright">© 2016 Conservation International</p>
</div>
