{
  "extends": ["codica"],
  "globals": {
    "L": "readonly",
    "cy": "readonly"
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed"]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@modules", "./src/state/modules/"],
          ["@views", "./src/views/"],
          ["@state", "./src/state/"],
          ["@components", "./src/views/components/"],
          ["@contexts", "./src/views/contexts/"],
          ["@shared", "./src/views/shared"],
          ["@utilities", "./src/utilities/"]
        ],
        "extensions": [".js", ".jsx", ".json", ".ts", ".tsx"]
      }
    }
  },
  "plugins": ["import"]
}
