.DS_Store
.idea
.vscode
node_modules

infrastructure/base/.terraform
infrastructure/base/vars/*
infrastructure/!base/vars/terraform.tfvars

infrastructure/state/.terraform
infrastructure/state/vars/*
infrastructure/state/terraform.tfstate
infrastructure/state/terraform.tfstate.backup
infrastructure/!state/vars/terraform.tfvars

.aws-sam
cloud_functions/titiler_cogs/.aws-sam
