.DS_Store
.idea

infrastructure/base/.terraform
infrastructure/base/vars/*
infrastructure/!base/vars/terraform.tfvars

infrastructure/state/.terraform
infrastructure/state/vars/*
infrastructure/!state/vars/terraform.tfvars

.aws-sam
