.git
.gitignore
README.md
Dockerfile
.dockerignore
.env
.env.*
log/*
tmp/*
!tmp/.keep
storage/*
!storage/.keep
node_modules
.DS_Store
*.swp
*.swo
*.log
.byebug_history
coverage/
.rspec_status
spec/examples.txt
