.m-article {
  width: 50%;
  color: $font-color-3;
  padding: 0 rem(100px);

  &.is-center {
    @extend %center;
    text-align: center;
    max-width: 960px;
    width: 100%;
  }

  h2 {
    font-family: $font-face-2;
    font-weight: 400;
    font-size: rem(64px);
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
  }

  p {
    font-size: rem(20px);
    margin: 0;
  }

  .btn{
    margin: rem(40px) 0 0;
  }

   @media screen and (max-width: 800px) {
    width: 100%;
  }
}
