@use '../sass-modules' as *;
@use '../mixins' as *;
@use '../variables' as *;

.m-analysis-selectors {
  width: 100%;
  padding-top: 10px;
  z-index: 1;

  .selector-box {
    width: 100%;
    display: block;
    position: relative;

    .heading {
      width: 100%;
      padding: rem(4px) rem(3px) rem(1px) rem(33px);

      h2 {
        font-size: 14px;
        line-height: 14px;
        color: $gray-70;
      }
    }

    ul {
      margin: 0;
      padding: rem(7px) 0 rem(7px) 0;
      list-style: none;

      li {
        font-weight: 400;
        font-size: rem(14px);
        line-height: rem(14px);
        padding: rem(10px) rem(10px) rem(8px) rem(33px);
        letter-spacing: rem(0.5px);
        cursor: pointer;
        position: relative;

        &:before {
          content: '';
          width: rem(9px);
          height: rem(9px);
          background: $white;
          border-radius: rem(9px);
          border: 1px solid #C0C0C0;
          position: absolute;
          top: rem(11px);
          left: rem(16px);
          transition: .2s $easeInOutSine;
        }

        &.selected {
          &:before {
            border-color: $gray-7;
            background: $gray-7;
          }
        }
      }
    }

    .icon {
      width: rem(14px);
      height: rem(11px);
      fill: $gray-70;
      top: rem(16px);
      left: rem(13px);
      position: absolute;
      opacity: 0;
      transition: .2s opacity $easeInOutSine;
    }

    &.selected {
      .icon {
        opacity: 1;
      }
    }
  }

  .analyze {
    width: 100%;
    height: rem(70px);
    background: #F6F6F6;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // transition: .2s $easeInOutSine;

    .btn-analyze {
      @extend %clean-button-or-input;
      background: $white;
      box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.25);
      border-radius: rem(40px);
      font-size: rem(17px);
      font-weight: 400;
      letter-spacing: rem(0.8px);
      padding: rem(14px) rem(45px) rem(9px) rem(31px);
      cursor: pointer;
      position: relative;
    }

    .icon {
      width: rem(16px);
      height: rem(21px);
      position: absolute;
      top: rem(11px);
      right: rem(13px);
      fill: $gray-70;
      opacity: 1;
    }

    &.disabled {
      pointer-events: none;
      user-select: none;

      .btn-analyze {
        opacity: 0.6;
        cursor: default;
      }

      .icon {
        opacity: 0.5;
      }
    }

    &:before {
      content: '';
      width: 100%;
      height: 13px;
      top: -13px;
      left: 0;
      position: absolute;
      opacity: 0;
      background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 100%);
      transition: .2s opacity ease-in-out;
    }
  }

  &.highlight {
    .analyze {
      &:before {
        opacity: 0.09;
      }
    }
  }
}
