.m-controls {
  display: inline-block;
  width: auto;
  display: flex;
  display: -ms-box;
  justify-content: space-between;
  position: absolute;
  bottom: rem(40px);
  left: 0;
  right: 0;
  padding: 0 rem(40px);
  z-index: 2;

  &.is-first {
    width: 100%;
    z-index: 2;
    justify-content: flex-end;
  }
}
