@use '../sass-modules' as *;
@use '../mixins' as *;
@use '../variables' as *;

.m-highlighted-text {
  font-weight: inherit;
  color: inherit;

  .m-highlighted-text--selected {
    font-weight: bold;
    text-decoration: underline;
  }
}
