@use '../sass-modules' as *;
@use '../mixins' as *;
@use '../variables' as *;

.m-home-section {
  position: relative;
  padding: 6.25rem 0 12.5rem;

  @media screen and (max-width: 800px) {
    padding: 6.25rem 0;
  }

  &--gradient {
    min-height: rem(510px);
    background-position: center;

    &:before {
      background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.15) 0%,
        rgba(0, 0, 0, 0.3) 50%,
        rgba(0, 0, 0, 0.15) 100%
      );
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__container {
    margin: 0 auto;
  }

  &__content {
    color: $font-color-3;

    @media screen and (max-width: 400px) {
      padding: 0;
    }

    &--center {
      @extend %center;
      width: 100%;
      max-width: 960px;
      text-align: center;
    }

    &--left {
      text-align: left;
      padding-right: calc(50% + 20px);
      margin-left: 5%;

      @media screen and (max-width: 800px) {
        padding-right: 0;
        margin-left: 0;
      }
    }

    &--right {
      text-align: right;
      padding-left: calc(50% + 20px);
      margin-right: 5%;

      @media screen and (max-width: 800px) {
        padding-left: 0;
        margin-right: 0;
      }
    }

    h2 {
      font-family: $font-face-2;
      font-weight: 400;
      font-size: rem(64px);
      margin: 0;
      line-height: 1;
      text-transform: uppercase;
    }

    p {
      font-size: rem(20px);
      margin: 0;
    }

    .btn{
      margin: rem(40px) 0 0;
    }

    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }

  &__credits {
    position: absolute;
    bottom: 10px;
    margin: 0;

    &,
    & a {
      color: $font-color-3;
    }


    &--left {
      left: calc(50% + 20px);
    }

    &--right {
      right: calc(50% + 20px);;
    }

    &--cover {
      right: 20px;
    }
  }

  &__figure {
    margin: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    background-position-y: bottom;

    &--left {
      right: 50%;
      background-position-x: right;
    }

    &--right {
      left: 50%;
      background-position-x: left;
    }
  }

  @media screen and (max-width: 800px) {
    &__figure {
      display: none;
    }

    &__content,
    &__credits {
      width: 100%;
      text-align: center;
    }

    &__credits {
      left: 0;
      right: 0;
    }

    &:not(.m-home-section--gradient) {
      .m-home-section__credits {
        display: none;
      }
    }
  }
}
