$backgrounds: 'journey1ch1', 'journey1ch2', 'journey1ch3', 'journey2ch1',
  'journey2ch2', 'journey2ch3', 'journey3ch1', 'journey3ch2', 'journey3ch3',
  'journey1bg0', 'journey1bg1', 'journey1bg2', 'journey2bg0', 'journey2bg1',
  'journey2bg2', 'journey3bg0', 'journey3bg1', 'journey3bg2', 'journey4bg0',
  'journey4bg1', 'journey4bg10', 'journey5bg0', 'journey5bg1', 'journey5bg2',
  'journey5ch1', 'journey5ch3';

%journey {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /*
    Background images
  */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;

  @for $i from 1 through length($backgrounds) {
    &.#{nth($backgrounds, $i)} {
      background-image: url('/images/journeys/#{nth($backgrounds, $i)}.jpg');
    }
  }

  &.journey2bg1,
  &.journey4bg1,
  &.journey4bg10,
  &.journey5bg0 {
    background-position: top;
  }

  &.journey2bg2,
  &.journey2bg5 {
    background-position: bottom;
  }

  &.journey1bg0:before,
  &.journey2bg1:before,
  &.journey1bg0:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
