@use '../sass-modules' as *;
@use '../mixins' as *;
@use '../variables' as *;

$legend-width: 350px;

$side-bar-width: 360px;

.m-legend {
  position: absolute;
  right: 0;
  bottom: 0;
  width: rem($legend-width);
  //Padding right to allow scroll bar in content.
  padding: rem(15px) rem(5px) rem(15px) rem(10px);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: $bg-color-1;

  .wrapper {
    max-height: rem(400px);
    overflow-y: scroll;

    // @extend %clear-scroll-bars;
  }

  &.is-changing {
    background-color: rgba($bg-color-1, 0.5);
  }

  .is-embed-page.is-journey-map & {
    display: none;
  }

  .side-bar & {
    display: block;
    position: static;
    box-shadow: none;
    padding: 0;
    width: 100%;
    padding-top: rem(15px);

    h3 {
      text-transform: none;
    }

    .wrapper {
      position: static;
      padding: 0;
      max-height: auto;
      overflow-y: visible;
      // @extend %clear-scroll-bars;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .m-legend__header {
    // display: none;
    position: relative;
    width: 100%;
    padding: 0 rem(10px);

    // @media screen and (max-width: 768px) {
    //   display: block;
    // }

    .side-bar & {
      display: none;
    }

    &.is-minimize {
      .btn-minimize {
        transform: translate(0, -50%) rotate(-90deg);
      }
    }

    .title {
      font-size: 14px;
      color: $font-color-1;
      font-weight: 500;
      text-transform: uppercase;
      padding: rem(4px) 0 0;
      margin: 0;
    }

    .btn-minimize {
      position: absolute;
      top: 50%;
      right: rem(10px);
      width: rem(22px);
      height: rem(22px);
      transform: translate(0, -50%) rotate(90deg);

      display: flex;
      display: -ms-box;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      &:after {
        content: '';
        display: block;
        border-left: 7px solid $font-color-1;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
      }
    }
  }

  .m-legend__content {
    padding-right: 5px;
  }

  // LIST OF LEGENDS
  .m-legend__list {
    .drag-items {
      padding: rem(10px);
      cursor: grab;

      .side-bar & {
        padding: 0;
        margin-bottom: rem(5px);

        &:last-child {
          padding-bottom: 0;
        }
      }

      // Compare mode highlighting
      &.is-compare-left {
        border-left: 3px solid #3b82f6;
        background-color: rgba(59, 130, 246, 0.05);
      }

      &.is-compare-right {
        border-left: 3px solid #10b981;
        background-color: rgba(16, 185, 129, 0.05);
      }

      &.ui-sortable-placeholder {
        padding: 0;
        visibility: visible !important;
        background: $bg-color-3;
      }

      &.is-not-available-by-zoom {
        background-color: rgba(117, 117, 117, 0.1);

        header {
          padding-bottom: 12px;

          &:after {
            content: 'Dataset not applicable at this scale';
            position: absolute;
            left: 10px;
            bottom: -3px;
            font-size: 10px;
          }
        }
      }

      header {
        position: relative;
        padding: 0;

        .side-bar & {
          margin-bottom: 0;
          padding: 0;
        }

        h3 {
          position: relative;
          padding: rem(4px) 0 0 rem(10px);
          margin: 0;
          font-size: 14px;
          color: $font-color-1;
          font-weight: 400;
          display: inline-block;

          .side-bar & {
            padding-left: 0;
          }
        }

        .draggable-icon {
          @extend %clean-button-or-input;
          position: absolute;
          padding: 0;
          outline: 0;

          .side-bar & {
            display: none;
          }
        }

        .draggable-icon {
          left: 0px;
          top: 5px;

          svg {
            width: 5px;
            height: 12px;
            fill: $bg-color-4;

            &.is-active {
              display: none;
            }
          }
        }
      }
    }

    .ui-sortable-helper {
      background-color: $bg-color-1;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      cursor: grabbing;
    }
    .source-container {
      margin: 10px 0 0 10px;
      font-size: 12px;
      line-height: 14px;
      color: $font-color-1;
      font-weight: 400;

      .source  {
        margin-bottom: 5px;
      }

      .source-bold {
        font-weight: bold;
      }

      .source-link {
        text-decoration: underline;
        font-style: italic;
        color: $font-color-1;
      }
    }
  }

  // TYPES OF LEGEND
  // choropleth
  .m-legend__choropleth {
    position: relative;
    display: flex;
    display: -ms-box;
    justify-content: space-between;
    align-items: center;
    padding: rem(16px) 0 0 rem(10px);

    .item {
      width: 100%;
      height: 8px;
    }

    .wrapper-item {
      position: relative;
      flex-basis: 100%;
      height: 25px;

      .item {
        position: absolute;
        bottom: 0;
      }
    }

    .min-val,
    .max-val,
    .numbers {
      font-size: 12px;
      font-weight: 400;
    }

    .min-val {
      float: left;
    }

    .max-val {
      float: right;
    }

    .numbers {
      position: absolute;
      top: 0;
      left: rem(10px);
      right: 0;
      display: flex;
      display: -ms-box;
      justify-content: space-between;
      align-items: center;
    }

    .side-bar & {
      padding: rem(16px) 0 0 0;

      .numbers {
        left: 0;
      }
    }
  }

  // custom
  .m-legend__custom,
  .m-legend__round,
  .m-legend__border {
    position: relative;
    display: flex;
    display: -ms-box;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: rem(4px) 0 0 rem(10px);

    .item {
      width: 50%;
      position: relative;
      font-size: 10px;
      text-transform: uppercase;
      padding: rem(2px) 0 rem(5px) 20px;
      font-weight: 300;
      line-height: 1.2em;

      span {
        position: absolute;
        top: rem(2px);
        left: 0;
        display: block;
        width: 15px;
        height: 9px;
      }
    }

    .side-bar & {
      padding-left: 0;
      padding-top: 0;
    }
  }

  .m-legend__border {
    .item {
      span {
        border: 2px solid #fff;
      }
    }
  }

  .m-legend__round {
    .item {
      padding-top: 5px;
    }

    .item span {
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }

    .bubble {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      .min,
      .max {
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 300;
        line-height: 1.2em;
      }

      .min {
        width: 20%;
        float: left;
      }

      .bubble-list {
        width: 60%;
        height: inherit;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;

        .bubble-1 {
          width: 10px;
          height: 10px;
          border-radius: 10px;
          background: $bg-color-4;
          margin-right: 15px;
        }

        .bubble-2 {
          width: 15px;
          height: 15px;
          border-radius: 15px;
          background: $bg-color-4;
          margin-right: 15px;
        }

        .bubble-3 {
          width: 20px;
          height: 20px;
          border-radius: 20px;
          background: $bg-color-4;
          margin-right: 15px;
        }

        .bubble-4 {
          width: 25px;
          height: 25px;
          border-radius: 25px;
          background: $bg-color-4;
          margin-right: 15px;
        }

        .bubble-5 {
          width: 30px;
          height: 30px;
          border-radius: 30px;
          background: $bg-color-4;
        }
      }

      .max {
        width: 20%;
        float: right;
        text-align: right;
      }
    }
  }

  .units {
    font-size: 14px;
    color: $font-color-1;
    font-weight: 400;
  }

  .l-main--embed & {
    .btn-remove {
      display: none;
    }
  }
}

.ui-sortable-placeholder {
  background-color: rgba($bg-color-1, 0.5) !important;
}

li[data-id='38'] .item span {
  border: 1px solid #6e3600;
  background-color: transparent !important;
  background-image: url('/images/pastoralPattern.png') !important;
}

.m-legend-timeline {
  margin-top: 20px;
  display: flex;
  align-items: center;

  .timeline-title {
    font-size: rem(12px);
    margin-right: 5px;
  }

  .timeline {
    flex: 1;
    max-width: 140px;
    // Year info is cropped without this min-width
    min-width: 80px;
  }
}

// Mobile responsive styles for legend
@media screen and (max-width: $breakpoint-mobile) {
  .m-legend {
    // Adjust positioning and width for mobile
    width: 100%;
    max-width: 100vw;
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(10px);
    box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.15);

    .wrapper {
      max-height: rem(200px); // Reduced height on mobile
    }

    .m-legend__header {
      .title {
        font-size: 12px;
      }
    }

    .m-legend__list {
      .drag-items {
        padding: rem(8px);

        header {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          gap: 8px;

          .draggable-icon {
            position: static;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 24px;
            min-height: 36px;
            padding: 4px 8px;

            svg {
              width: 8px;
              height: 24px;
            }
          }

          h3 {
            font-size: 13px;
            flex: 1;
            min-width: 0;
            padding: 0;
            margin: 0;
          }

          .actions {
            flex-shrink: 0;
            margin-left: auto;
          }
        }
      }
    }

    .source-container {
      margin: 8px 0 0 8px;
      font-size: 11px;
    }
  }
}

// Tablet responsive styles
@media screen and (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {
  .m-legend {
    width: rem(300px);
  }
}