@use '../sass-modules' as *;
@use '../mixins' as *;
@use '../variables' as *;

.m-share {
  .btn-close-modal {
    color: #d8d8d8;
  }

  .modal-wrapper {
    .modal-container {
      @extend %clear-scroll-bars;

      .modal-content {
        .share-nav {
          width: 100%;
          height: rem(95px);
          float: left;
          position: relative;
        }

        .link-box {
          display: flex;
          width: 100%;
          margin: 0 auto;
          text-align: left;
          position: relative;

          .url {
            padding: rem(16px) rem(10px);
            font-size: 12px;
            flex: 1 0 80%;

            border: 1px solid rgba(0, 0, 0, 0.2);

            @include ellipsis(100%);

            & + .btn-copy {
              border-left-width: 0;
            }
          }

          .btn-copy {
            flex: 0 0 20%;
            padding: rem(16px);

            border: 1px solid rgba(0, 0, 0, 0.2);
            background: $bg-color-1;

            line-height: 18px;
            text-transform: uppercase;
            text-align: center;
            cursor: pointer;
          }
        }

        .social-links {
          @extend %centerx;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: rem(38px);
          margin-bottom: rem(25px);
          text-align: center;

          .btn-social {
            width: rem(36px);
            height: rem(36px);
            border-radius: rem(36px);
            background: $bg-color-3;
            border: 1px solid rgba(0, 0, 0, 0.2);
            margin-right: rem(24px);

            a {
              width: 100%;
              height: 100%;
              display: inline-block;
            }

            .icon {
              width: 20px;
              height: 20px;
              display: inline-block;
              fill: $gray-medium;
            }

            &.facebook {
              .icon {
                width: 9px;
                height: 17px;
                margin-top: 8px;
                margin-left: 0px;
              }
            }

            &.twitter {
              .icon {
                width: 16px;
                height: 13px;
                margin-top: 11px;
                margin-left: 1px;
              }
            }

            &.google {
              .icon {
                width: 11px;
                height: 18px;
                margin-top: 8px;
                margin-left: 0px;
              }
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  .tabs {
    bottom: -1px;
    left: 0;
    z-index: 1;
    width: 100%;
    padding-left: 10px;
    position: absolute;

    .tab-title {
      margin-right: rem(3px);
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      &.active {
        position: relative;
        border-bottom: 0;
        z-index: 1;

        a {
          position: relative;
          bottom: -1px;
        }
      }
    }

    a {
      padding-top: rem(13px);
      padding-bottom: rem(6px);
    }
  }

  .tabs-content {
    float: left;
    background: $white;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 0;

    .content {
      padding-bottom: rem(5px);
    }
  }

  // Mobile responsive styles
  @media screen and (max-width: $breakpoint-mobile) {
    .modal-wrapper {
      width: 95%;
      max-width: 95%;
      height: auto;
      max-height: 90vh;
      
      .modal-container {
        padding: rem(30px) rem(20px);
        
        .modal-content {
          .share-nav {
            height: auto;
            min-height: rem(100px);
            margin-bottom: rem(10px);
            
            h2 {
              font-size: rem(28px);
              margin-bottom: rem(10px);
            }
          }
          
          .link-box {
            flex-direction: column;
            
            .url {
              flex: 1 1 auto;
              width: 100%;
              font-size: 11px;
              padding: rem(12px) rem(8px);
              border-bottom-width: 0;
            }
            
            .btn-copy {
              flex: 1 1 auto;
              width: 100%;
              padding: rem(12px);
              border-left-width: 1px;
              font-size: 12px;
            }
          }
          
          .social-links {
            margin-top: rem(25px);
            margin-bottom: rem(15px);
            
            .btn-social {
              margin-right: rem(16px);
            }
          }
        }
      }
    }
    
    .tabs {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      gap: rem(5px);
      
      .tab-title {
        flex: 1 1 auto;
        margin-right: 0;
        text-align: center;
        min-width: rem(80px);
        
        a, button {
          display: block;
          width: 100%;
          padding: rem(10px) rem(8px);
          font-size: rem(12px);
        }
      }
    }
    
    .tabs-content {
      width: 100%;
      clear: both;
    }
  }
}
