@use '../sass-modules' as *;
@use '../mixins' as *;
@use '../variables' as *;

.m-sidebar {
  position: relative;
  height: 100%;
  z-index: 1;
  background: $white;

  .tabs {
    position: relative;
    @extend %clean-lists;
    padding-top: 10px;
    padding-left: 10px;
    background-color: $gray-5;
  }

  .tab-title {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    a {
      padding: 10px 20px;
      background-color: transparent;
      color: rgba(#4a4a4a, 0.5);
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      position: relative;
      //To avoid wierd shadow under the tab
      top: 1px;
      z-index: 10;
      transition: background, box-shadow 0.2s;

      &:hover {
        text-decoration: none;
        background-color: rgba($bg-color-2, 0.5);
      }

      &:focus {
        outline: none;
      }
    }

    &.active {
      a {
        background-color: $font-color-3;
        color: $font-color-4;
        box-shadow: 1px -2px 4px 0px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .tabs-content {
    position: absolute;
    top: 49px;
    bottom: 50px; // Some space for Transifex
    margin-bottom: 0;
    overflow-y: auto;
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.1);

    .content {
      padding: 0 rem(10px) rem(20px);
    }

    .is-bare & {
      bottom: 140px;
    }

    // Mobile: Optimize scrolling area
    @media screen and (max-width: $breakpoint-mobile) {
      top: 49px;
      bottom: 60px; // More space for mobile safari bottom bar
      width: 100%;
    }
  }

  // Mobile: Adjust tabs for better touch targets
  @media screen and (max-width: $breakpoint-mobile) {
    .tabs {
      padding-top: 12px;
      padding-left: 12px;
    }

    .tab-title {
      a {
        padding: 12px 24px; // Larger touch target
        font-size: 14px; // Slightly larger text
      }
    }
  }
}
