.m-search-map {
  position: relative;
  background-color: $bg-color-1;

  .search-combobox-input {
    margin-top: 0;
    padding: rem(4px) rem(10px);
    border: none;
    height: rem(30px);
    font-size: rem(14px);
    background-color: $white;
    width: 100%;

    @include placeholder() {
      font-size: rem(14px);
      color: $font-color-1;
    }
  }

  .search-combobox-options {
    position: absolute;
    width: 100%;
    margin-top: 1px;
    max-height: rem(208px);
    overflow-y: scroll;
    background-color: $white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    z-index: 10;

    @extend %clear-scroll-bars;

    ul {
      padding: 0;
      margin: 0;
      box-shadow: none;
    }

    li {
      padding: rem(2px) rem(10px);

      &.is-active {
        background: $gray-light;
      }
    }

    .option-label {
      font-size: rem(14px);
      line-height: rem(25px);

      .m-highlighted-text--selected {
        font-weight: bold;
        text-decoration: none;
        color: black;
      }
    }
  }

  .search-combobox-message {
    padding: rem(10px);
    font-size: rem(14px);
    font-weight: normal;
    color: $font-color-1;
  }
}
