.m-search-map {
  height: rem(29px);
  border: none;
  transition: width 0.3s $easeInSine;
  background-color: $bg-color-1;

  .search-combobox-input {
    margin-top: rem(3px);
    border: none;
    height: rem(24px);
    background-color: $white;

    @include placeholder() {
      font-size: rem(14px);
      color: $font-color-1;
    }
  }

  .search-combobox-options {
    width: 100%;
    padding: rem(10px) 0;
    max-height: rem(208px);
    overflow-y: scroll;
    background-color: $white;
    @extend %clear-scroll-bars;

    ul {
      padding: 0;
      margin: 0;
      box-shadow: none;
    }

    li {
      padding: 0 rem(10px);

      &.is-active {
        background: $gray-light;
      }
    }

    .option-label {
      line-height: rem(25px);

      .m-highlighted-text--selected {
        font-weight: bold;
        text-decoration: none;
        color: black;
      }
    }
  }
}
