@use '../sass-modules' as *;
@use '../mixins' as *;
@use '../variables' as *;

.m-toolbar {
  z-index: 1;

  ul {
    @extend %clean-lists;
  }

  &__item {
    position: relative;
    width: rem(30px);
    height: rem(30px);
    background-color: $bg-color-1;
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);

    &:not(.search):hover {
      background-color: darken-color($bg-color-1, 5%);
    }

    &:last-child {
      border-bottom: 0;
    }

    svg {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .m-toolbar__item--search {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    min-width: rem(30px);
    width: auto;
    z-index: 2;

    &.is-open {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    }
  }

  .m-toolbar-item--button {
    width: rem(30px);
    height: rem(30px);
  }

  .m-toolbar-item--panel {
    width: rem(280px);
    background-color: $bg-color-1;
  }

  button {
    @extend %clean-button-or-input;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}
