@use '../sass-modules' as *;
@use '../mixins' as *;
@use '../variables' as *;

.m-wizard-form {
  background-color: $bg-color-5;
  padding: 20px 0;

  &--background-image {
    height: 100%;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background-image: url('/images/feedback/bg-outro.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  label {
    display: flex;
    align-items: baseline;
    gap: 8px;
  }

  input[type="text"] {
    width: 100%;
    border: none;
    border-bottom: 1.5px solid $gray-6;
    color: $gray;
    background-color: transparent;

    &:focus {
      border-bottom: 1.5px solid $gray-7;
    }
  }

  input[type="radio"] {
    @extend %visually-hidden;

    & + label {
      display: inline-flex;
      position: relative;
      padding-left: 21px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 13px;
        width: 13px;
        border: 1px solid $gray-70;
        border-radius: 50%;
      }
    }

    &:checked + label {
      &:before {
        border: 1px solid $blue;
      }

      &:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        background-color: $blue;
        border-radius: 50%;
        width: 7px;
        height: 7px;
      }
    }
  }

  input[type="checkbox"] {
    @extend %visually-hidden;

    & + label {
      display: inline-flex;
      position: relative;
      padding-left: 21px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 13px;
        width: 13px;
        border: 1px solid $gray-70;
      }
    }

    &:checked + label {
      &:before {
        border: 1px solid $blue;
        background-color: $blue;
      }

      &:after {
        content: '';
        position: absolute;
        top: 4.5px;
        left: 3.5px;
        border-left: 1px solid $white;
        border-bottom: 1px solid $white;
        width: 6px;
        height: 3px;
        transform: rotate(-45deg);
      }
    }
  }

  &__header {
    position: relative;
  }

  &__header,
  &__outro {
    padding: 28px 0;
    max-width: 75rem;
    margin: 0 auto;
  }

  &__pagination,
  &__wrapper {
    padding: 40px 24px;
    max-width: 760px;
    margin: 0 auto;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    padding: 40px 0;

    &-item {
      position: relative;
      overflow: hidden;

      &:not(:first-child) {
        display: flex;
        justify-content: flex-end;
        width: 19%;

        &:before {
          position: absolute;
          content: '';
          width: 100%;
          height: 1px;
          border-top: 1px solid $lighter-blue;
          right: 15px;
          top: 50%;
        }
      }

      &.active {
        &:not(:first-child) {
          &:before {
            border-top: 1px solid $font-color-5;
          }
        }

        .m-wizard-form__pagination-item-number {
          border: 1px solid $font-color-5;
        }
      }

      &.error {
        .m-wizard-form__pagination-item-number {
          border: 1px solid $light-red;
          color: $light-red;
        }
      }

      &-number {
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $lighter-blue;
        color: $font-color-5;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding-top: 4px;
        font-size: rem(14px);
        font-weight: 600;
      }
    }
  }

  &__wrapper {
    padding: 40px 24px;
    max-width: 760px;
  }

  &__form {
    &-header {
      text-align: center;
      max-width: 86%;
      margin: 0 auto;

      h1,
      h2 {
        color: $font-color-5;
        text-transform: uppercase;
        margin: 0;
        line-height: 1;
      }

      h1 {
        font-family: $font-face-1;
        font-size: rem(38px);
        font-weight: 400;
      }

      h2 {
        font-family: $font-face-2;
        font-size: rem(100px);
        margin-top: rem(18px);
      }

      h3 {
        font-family: $font-face-2;
        text-transform: uppercase;
        font-size: rem(50px);
        color: $gray;
        margin: 0;
        line-height: 1;
        padding-bottom: 20px;
      }

      p {
        font-family: $font-face-1;
        font-size: rem(20px);
        font-weight: 400;
        line-height: rem(28px);
        color: $font-color-1;
      }
    }

    &-content {
      display: grid;
      gap: 4px;
      padding: 20px 0;

      section {
        background-color: $white;
        border: 1px solid $lighter-blue;
        padding: 30px 42px;
        font-weight: 400;

        &.error {
          border: 1px solid $light-red;
        }
      }

      &-title {
        position: relative;
        text-align: center;
        font-weight: 600;
        padding: 2px 0;

        &--required {
          &:after {
            content: '*';
            color: $light-red;
            padding-left: 6px;
          }
        }

        h3 {
          font-family: $font-face-2;
          text-transform: uppercase;
          font-size: rem(50px);
          color: $gray;
          margin: 0;
          line-height: 1;
          padding-bottom: 20px;
        }

        p {
          font-family: $font-face-1;
          font-size: rem(20px);
          font-weight: 400;
          line-height: rem(28px);
          color: $font-color-1;
        }
      }

      &-description {
        display: block;
        padding: 2px 0;
        color: $gray-medium;
      }

      &-wrapper {
        margin-top: 16px;

        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    &-section {
      display: grid;
      gap: 4px;
      padding: 20px 0;

      &-title {
        position: relative;
        font-weight: 600;
        padding: 2px 0;

        &--required {
          &:after {
            content: '*';
            color: $light-red;
            padding-left: 6px;
          }
        }
      }

      &-description {
        display: block;
        padding: 2px 0;
        color: $gray-medium;
      }

      &-wrapper {
        margin-top: 16px;

        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      &-error-message {
        display: flex;;
        color: $light-red;
        font-size: rem(12px);
        margin-top: 4px;

        &:before {
          content: '!';
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin-right: 8px;
          padding: 6px 2px 2px;
          width: 14px;
          height: 14px;
          border: 1px solid $light-red;
          border-radius: 50%;
          color: $light-red;
          font-size: rem(10px);
        }
      }
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      padding: 20px 0;
    }

    &-table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;

      thead {
        tr {}

        th {
          display: table-cell;
          vertical-align: baseline;

          .ratings-header {
            text-align: center;
            display: flex;
            flex-direction: column;

            &__label {
              font-weight: 400;
            }

            &__description {
              text-transform: uppercase;
              font-weight: 400;
              font-size: 10px;
              margin-top: 10px;
              padding: 0 6px;
              line-height: 13px;
            }
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid $gray-light;

          > td:first-child {
            text-align: left;
            padding-right: 20px;
          }
        }

        td {
          text-align: center;
          padding: 30px 10px;
        }
      }
    }
  }

  &__outro {
    @extend %center;
    width: 100%;
    padding: 0 2.5rem;
    word-wrap: normal;

    @media screen and (max-width: 400px) {
      padding: 0;
    }

    h1,
    h2 {
      text-align: center;
      color: $font-color-3;
      font-weight: 400;
      line-height: 1;
      margin: 0;
    }

    h1 {
      font-size: rem(64px);
      font-family: $font-face-2;
      text-transform: uppercase;
      margin-top: 20px;

      @media screen and (max-width: 800px) {
        margin-top: 1rem;
        font-size: rem(36px);
      }
    }

    h2 {
      font-size: rem(22px);
      font-family: $font-face-1;
    }
  }

  &__button {
    @extend %clean-button-or-input;

    display: flex;
    color: $font-color-5;
    font-size: rem(14px);
    line-height: rem(14px);
    border: 1px solid $blue;
    font-weight: 600;
    border-radius: 50px;
    padding: rem(12px) rem(30px);

    &--previous,
    &--next {
      &:before,
      &:after {
        display: inline-block;
        width: 7px;
        height: 7px;
        margin-top: 2px;
        border-bottom: 2px solid $blue;
        border-left: 2px solid $blue;
      }

      &:hover {
        background-color: $lighter-blue;
      }
    }

    &--previous {
      &:before {
        content: '';
        margin-right: 8px;
        transform: rotate(45deg);
      }
    }

    &--next {
      &:after {
        content: '';
        margin-left: 8px;
        transform: rotate(225deg);
      }
    }

    &--submit {
      background-color: $blue;
      color: $white;
    }
  }
}
