@use '../sass-modules' as *;
@use '../mixins' as *;
@use '../variables' as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba($bg-color-5, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.12s linear;

  &.is-active{
    visibility: visible;
    opacity: 1;
  }

}
