.is-hidden {
  display: none !important;
}

.is-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.is-stretch {
  display: flex;
  display: -ms-box;
  align-items: stretch;
}

.is-loading {
  @include spinner(30px, 5px, $blue);
}
