// ============================================================================
// Variables
// ============================================================================
// This file provides all shared variables for the design system.
// ============================================================================

@use 'sass-modules' as *;
@use 'mixins' as *;

/*
  Layouts and structure
 */
$content-width: 1440px;
$margin: 30px;
$content-margin: 40px;

$row-width: 1200px;

/* Layout common values */
$header-height: 65px;
$sidebar-width: 350px;
$sidebar-analysis-width: 490px;

/* Mobile responsive breakpoints and sizes */
$breakpoint-mobile: 767px;
$breakpoint-tablet-min: 768px;
$breakpoint-tablet-max: 1023px;
$mobile-touch-target-size: 40px;
$mobile-sidebar-toggle-size: 48px;

/*
  Fonts and typography
 */
 @include font-face('Franklin', 'ITCFranklinGothicStd-Demi', 700);
 @include font-face('Franklin', 'ITCFranklinGothicStd-Med', 500);
 @include font-face('Franklin', 'ITCFranklinGothicStd-Book', 400);
 @include font-face('FranklinCD', 'ITCFranklinGothicStd-DmCp', 400);
 @include font-face('FranklinLT', 'ITCFranklinGothicLTCom-Heavy', 400);

$font-face-1: 'Franklin';
$font-face-2: 'FranklinCD';
$font-face-3: 'FranklinLT'; // Just for journey chapter numbers

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be different and not have it affect the grid breakpoints,
// set $rem-base to $base-font-size and make sure $base-font-size is a px value.
$rem-base: 16px;
$base-font-size: 100% !default;

// $base-line-height is 24px while $base-font-size is 16px
//Line-height 150% was given a bunch of problems.
$base-line-height: 1.2em !default;

/*
  Colors
 */
$white: #fff;
$white-medium: #eee;
$black: #000;
$black-charcoal: #222;
$lighter-blue: #D6F6FF;
$light-blue: #f1fcff;
$blue: #0089cc;
$theme-color-default: #ddd;
$gray: #555;
$gray-medium: #979797;
$gray-light: #f9f9f9;
$gray-5: #f6f6f6;
$gray-6: #e9e9e9;
$gray-7: #d1d1d1;
$gray-70: #555555;
$light-red: #E80202;
$red: #b0003a;

/*
  Theme
 */
$bg-color-1: $white;
$bg-color-2: $theme-color-default;
$bg-color-3: $gray-light;
$bg-color-4: $gray-medium;
$bg-color-5: $black;
$bg-color-6: $white-medium;
$bg-color-5: $light-blue;

$font-color-1: $gray;
$font-color-2: $theme-color-default;
$font-color-3: $white;
$font-color-4: $black-charcoal;
$font-color-5: $blue;

/*
  Animations --> provisonal aquí para poder probarlas.
 */
// Sine
$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

// Cubic
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);

/*
  Override Foundation variables
*/
// Grid
$xy-grid: false;
$global-flexbox: false;

// Switch
$switch-radius: rem(5px);
$switch-paddle-radius: rem(5px);
