{{#if data}}
  <ul>
    {{#each data}}
      <li class="search-area{{#if selected}} selected{{/if}}" title="{{title}}" data-iso="{{iso}}"><span class="name">{{{name}}}</span></a></li>
    {{/each}}
  </ul>
{{else}}
  <div class="no-results">No results</div>
{{/if}}