<div class="m-modal-window">
  <div class="modal-wrapper">
    <div class="btn-close-modal">×</div>
    <div class="modal-container">
      <p>{{data.description}}</p>
      <p>{{data.source}}</p>
      <a href="{{data.link}}" target="_blank">{{data.link}}</a>
    </div>
  </div>
  <div class="modal-background"></div>
</div>
