<div class="m-modal-window share">
  <div class="modal-wrapper">
    <div class="btn-close-modal">×</div>
    <div class="modal-container">

      <h2>Insert into my web</h2>
      <input type="text" value="{{iframeCode}}" class="share-url" />
      <p><a href="{{url}}" target="_blank">open in new window</a></p>

    </div>
  </div>
  <div class="modal-background"></div>
</div>
