meta charset="utf-8"
meta name="description" content=""
meta name="viewport" content="width=device-width, initial-scale=1"

meta content=("An interactive tool that provides users with a deep understanding of the resilience of specific systems like livestock or agriculture") name="description" /
meta content="cigrp" itemprop="name" /
meta content=("cigrp") itemprop="description" /
meta content="logo.jpg" itemprop="image" /
meta content=("Text for twitter") name="twitter:card" /
meta content="@cigrp" name="twitter:site" /
meta content="cigrp" name="twitter:title" /
meta content=("An interactive tool that provides users with a deep understanding of the resilience of specific systems like livestock or agriculture") name="twitter:description" /
meta content="" name="twitter:creator" /
meta content="logo.jpg" name="twitter:image:src" /
meta content="" name="twitter:player" /
meta content="www.cigrp.com" property="og:url" /
meta content="cigrp" property="og:title" /
meta content=("cigrp is a platform to..") property="og:description" /
meta content="cigrp" property="og:site_name" /
meta content="logo.jpg" property="og:image" /
meta content="" property="fb:admins" /
meta content="" property="fb:app_id" /
meta content="" property="og:type" /
meta content="en_US" property="og:locale" /
meta content="" property="og:audio" /
meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE" /
