// Body

body {
  margin: 0;
  font-family: $font-main;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: rem-calc(840px);
}

// Header

header {
  $header-background: #FFFFFF;
  $header-border: #DEDEDE;
  $menu-text: #474444;
  $menu-current: $main-color;
  $menu-hover: #EFEFEF;
  $menu-hover-text: #FFFFFF;

  .top-bar {
    height: rem-calc(57px);
    background: $header-background;
    border-bottom: 1px solid $header-border;

    .name {
      h1 {
        color: $main-text;
        // width: rem-calc(190px);
        // height: rem-calc(57px);
        // background: image-url("logo.png");
        // background-size: rem-calc(190px 30px);
        // background-repeat: no-repeat;
        // background-position: center;
        // text-indent: -99999px;
        margin-left: rem-calc(20px);
        line-height: rem-calc(57px);

        a {
          color: $main-text;
        }
      }
    }
  }

  .top-bar-section {
    ul {
      li:not(.has-form) {

        a:not(.button) {
          font-family: $font-main;
          font-size: rem-calc(15px);
          font-weight: 700;
          letter-spacing: 0.65px;
          line-height: rem-calc(15px);
          text-transform: uppercase;
          color: $menu-text;
          background: $header-background;
          padding-top: rem-calc(21px);
          padding-bottom: rem-calc(20px);
          position: relative;

          &:hover {
            background: $menu-hover;
          }

          &.current {
            color: $menu-current;

            &:after {
              content: "";
              width: auto;
              height: rem-calc(5px);
              background: $menu-current;
              position: absolute;
              bottom: -1px;
              left: 15px;
              right: 15px;
            }
          }
        }

        &.login {
          padding: rem-calc(11px 20px 10px 15px);
          background: $header-background;

          a:not(.button) {
            text-transform: uppercase;
            border: 1px solid #DEDEDE;
            border-radius: 3px;
            padding: rem-calc(9px 11px 8px 11px);
          }
        }

      }
    }
  }
}
