// Header
header {
  $header-background: $white;
  $header-border: $light-grey;
  $menu-text: $font-color-1;
  $menu-current: $color-1;
  $menu-hover: $light-grey;
  $menu-hover-text: $white;

  .top-bar {
    height: rem-calc(57px);
    background: $header-background;
    border-bottom: 1px solid $header-border;

    .name {
      h1 {
        width: rem-calc(190px);
        height: rem-calc(57px);
        margin-left: rem-calc(20);
      }

      a {
        color: $color-1;
      }
    }
  }

  .top-bar-section {
    ul {
      li:not(.has-form) {

        a:not(.button) {
          font-family: $font-main;
          font-size: rem-calc($font-size);
          font-weight: 700;
          letter-spacing: 0.65px;
          line-height: rem-calc($font-size);
          text-transform: uppercase;
          color: $menu-text;
          background: $header-background;
          padding-top: rem-calc(20px);
          padding-bottom: rem-calc(20px);
          position: relative;

          &:hover {
            background: $menu-hover;
          }

          &.current {
            color: $menu-current;

            &:after {
              content: "";
              width: auto;
              height: rem-calc(5px);
              background: $menu-current;
              position: absolute;
              bottom: -1px;
              left: 15px;
              right: 15px;
            }
          }
        }

        &.login {
          padding: rem-calc(11px 20px 10px 15px);
          background: $header-background;

          a:not(.button) {
            text-transform: uppercase;
            border: 1px solid $light-grey;
            border-radius: 3px;
            padding: rem-calc(9px 11px 8px 11px);
          }
        }

      }
    }
  }
}

/* Content */

.l-content-wide {
  width: 100%;
  display: inline-block;
  padding: $margin-extra-large 0 $margin-extra-large 0;
}

.l-content-wide-2 {
  @extend .l-content-wide;
  background: $light-grey;
}

/* Profiles */

.l-profile-menu {
  width: rem-calc(50px);
  top: 0;
  bottom: 0;
  position: absolute;
  background: $color-3;
}

.l-profile-map {
  width: calc(100% - 50px);
  height: rem-calc(345px);
  float: right;
  display: block;
  border-bottom: 1px solid $light-grey;
}

.l-profile-description,
.l-profile-economy,
.l-profile-environment,
.l-profile-housing {
  @extend .l-content-wide;
}

.l-profile-demographics,
.l-profile-settlement,
.l-profile-transportation {
  @extend .l-content-wide-2;
}

/* Topics */
.l-topics {
  @extend .l-content-wide;
}

.l-topics-banner {
  @extend .l-content-wide;
  height: rem-calc(400px);
  background: url(/assets/motorway-484105.jpg) no-repeat top;
  background-size: cover;
}


