%l-content {
  @include clearfix;
}

.l-content,
.l-content--default {
  @extend %l-content;
}

.l-content--fullscreen {
  @extend %l-content;
  position: absolute;
  left: $sidebar-width;
  right: 0;
  bottom: 0;
  top: 0;
  transition: all .3s $easeInSine;

  body.analyzing & {
    left: rem($sidebar-analysis-width);
  }
}

.wrap {
  margin: 60px 40px;
}
