.l-footer {
  background-color: $bg-color-2;
  font-weight: 400;
  font-size: rem(14px);
}

.l-footer-nav {
  @include clearfix;
  max-width: rem($content-width);
  margin: 0 auto;
  padding: 0 rem($content-margin);
  color: $font-color-3;

  ul {
    @extend %clean-lists;
  }

  .privacy {
    display: inline-block;
    float: left;
    margin-right: 20px;

    a {
      color: $font-color-3;
    }
  }

  .credits {
    display: inline-block;
    float: right;

    a {
      font-size: 16px;
      color: transparent;
      background-image: image-url("vizz.svg");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}
