.l-header,
.l-header--fullscreen {
  background-color: $bg-color-2;
  height: rem($header-height);
}

.l-header-nav {
  max-width: rem($content-width);
  margin: 0 auto;

  @include clearfix;

  ul {
    @include clean-lists;
  }

  .brand-area {
    float: left;
    padding: rem(5px) 0;

    a {
      display: block;
      width: rem(140px);
      padding: rem(5px) 0;
      height: rem($header-height) - rem(10px);
      background: image-url("logo-grp-white.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
      text-indent: -99999px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .nav-area {
    float: right;
    margin-right: -rem($margin);

    li {
      display: flex;
      float: left;
      height: rem($header-height);
      padding: rem($margin/2);
    }

    a {
      display: block;
      margin: auto;
      padding: rem(5px) rem(20px);
      color: rgba($font-color-3, .5);
      border-radius: 3px;
      font-size: rem(14px);
      text-transform: uppercase;
      transition: .2s ease-in;

      &:hover {
        background-color: $bg-color-1;
        color: $font-color-2;
        text-decoration: none;
      }
    }
  }

  .l-header--fullscreen & {
    max-width: none;
    padding: 0 40px;

    .row {
      max-width: none;
    }
  }
}
