.l-header,
.l-header--fullscreen {
  position: relative;
  z-index: 5;
  height: rem($header-height);
  box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
  background-color: $bg-color-1;
}

.l-header-nav {
  max-width: rem($content-width);
  margin: 0 auto;
  padding: 0 rem($content-margin);
  position: relative;
  z-index: 2;
  background-color: $bg-color-1;

  .is-journey-map & {
    display: none;
  }

  .is-indicators & {
    background-color: #222222;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 37px;
    background-image: image-url('beta.svg');

    .is-indicators & {
      display: none;
    }
  }

  @include clearfix;

  ul {
    @extend %clean-lists;
  }

  .brand-area {
    float: left;
    padding: rem(5px) 0;

    a {
      position: relative;
      display: block;
      width: rem(140px);
      padding: rem(5px) 0;
      height: rem($header-height - 10px);
      background-image: image-url("logo-ci.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
      text-indent: -99999px;

      .is-indicators & {
        background-image: image-url("logo-vs.png");
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .nav-area {
    float: right;
    margin-right: -rem($margin);

    .is-indicators & {
      display: none;
    }

    li {
      display: flex;
      display: -ms-box;
      justify-content: center;
      align-items: center;
      float: left;
      height: rem($header-height);
      margin-left: rem($margin/2);
    }

    a {
      display: block;
      padding: rem(7px) rem(20px) rem(3px);
      color: $font-color-2;
      border-radius: 3px;
      font-size: rem(14px);
      text-transform: uppercase;
      transition: .2s ease-in;

      &:hover {
        text-decoration: none;
      }

      &:not(.web-link):hover {
        background-color: rgba($bg-color-2, .1);
      }

      &.is-current {
        background-color: $bg-color-2;
        color: $font-color-3;
      }
    }
  }

  .web-link {
    float: right;
    color: $font-color-2;
  }

  .l-header--fullscreen & {
    max-width: none;

    .row {
      max-width: none;
    }
  }
}

.l-hero {
  height: rem(200px);
  background-image: image-url('about-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;

  h1 {
    color: $font-color-3;
    font-size: rem(48px);
  }
}

.l-section-nav {
  background-color: rgba(#757575, .1);
}
