.l-journey__index {
  background:
    -webkit-linear-gradient(top, rgba(34,34,34,0.6) 0%, rgba(34,34,34,1) 40%,rgba(34,34,34,1) 100%),
    image-url('journeys/bg-intro.jpg') no-repeat center -330px;
  background:
    -moz-linear-gradient(top, rgba(34,34,34,0.6) 0%, rgba(34,34,34,1) 40%,rgba(34,34,34,1) 100%),
    image-url('journeys/bg-intro.jpg') no-repeat center -330px;
  background:
    linear-gradient(to bottom, rgba(34,34,34,0.6) 0%, rgba(34,34,34,1) 40%,rgba(34,34,34,1) 100%),
    image-url('journeys/bg-intro.jpg') no-repeat center -330px;

  background-size: cover !important;

  padding-bottom: 100px;

  .m-journey__title {
    position: relative;
    height: 220px;
    h1 {
      @extend %center;
      margin: 0;

      font-family: $font-face-2;
      font-size: rem(64px);
      text-align: center;
      text-transform: uppercase;
      color: $font-color-3;
    }
  }
}
