$sidebar-width: 320px;

.l-sidebar,
.l-sidebar--default {
  width: rem($sidebar-width);

  .l-sidebar-content {
    padding: rem($margin);
  }
}

.l-sidebar--fullscreen {
  position: absolute;
  top: rem($margin/2);
  left: rem($margin/2);
  width: rem($sidebar-width);
  max-height: 100%;

  background-color: $bg-color-1;

  overflow: hidden;
  z-index: 1;
}
