.l-sidebar,
.l-sidebar--default {
  width: rem($sidebar-width);

  .l-sidebar-content {
    padding: rem($margin);
  }
}

.l-sidebar-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  box-shadow: 0 1px 4px 2px rgba(0,0,0,.1);

  .btn-dash-switcher {
    position: absolute;
    top: 0;
    right: -25px;
    width: rem(25px);
    height: rem(48px);
    background-color: $bg-color-3;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: '';
      @include arrow(8px, $gray-70, 2px, -45deg);
      transition: .25s ease-in-out;

      .is-collapsed & {
        transform: rotate(135deg);
      }
    }
  }
}

.l-sidebar--fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  width: rem($sidebar-width);

  background-color: $bg-color-1;
  z-index: 1;
  transition: .25s ease-in-out;

  // .is-not-bare & {
  //   top: rem($header-height);
  // }

  &.is-collapsed {
    transform: translatex(-100%);
  }


  body.analyzing & {
    width: rem($sidebar-analysis-width);
  }

  .l-main--embed & {
    background-color: transparent;
    box-shadow: none;
    text-align: left;
    width: auto;

    .brand-area a {
      width: 150px;
    }

    .l-header-nav {
      padding-top: 20px;
    }
  }

  .bare-header {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;

    .is-bare & {
      display: block;
    }
  }

  .brand-area {
    display: block;
    width: rem(142px);
    height: 2.8125rem;
    padding: 0.3125rem 0;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    text-indent: -99999px;
    background-image: url('https://resilienceatlas-assets.s3.amazonaws.com/logo_CI.png');
  }
}



