// Fonts
$font-main: "Raleway";

$title-dark: #1D82A5;
$main-color: #64d1b8;
$main-text: #474444;
$page-title: #333333;

@include font-face("Raleway", "raleway-medium-webfont", 500);
@include font-face("Raleway", "raleway-semibold-webfont", 600);
@include font-face("Raleway", "raleway-bold-webfont", 700);
@include font-face("Raleway", "raleway-extrabold-webfont", 800);
