// Body
body {
  min-width: rem-calc(840px);
  margin: 0;
  font-family: $font-main;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: rem-calc($font-size);
}

h1 {
  font-size: rem-calc($font-size-big);
  font-family: $font-main;
  font-weight: bold;

  &.title {
    text-align: center;
  }
}

h2 {
  font-size: $font-size-medium;
}

figcaption {
  font-size: $font-size-small;
  color: $font-color-3;
  text-align: right;
}
