/*
 * Create an abstract class with basic settings...
 */
%btn {
  @extend %button-reset;
  box-sizing: border-box;
  padding: rem-calc($margin-small) rem-calc($margin-medium);
  border: 1px solid $light-grey;
  border-radius: 3px;
  box-shadow: 0,1px,1px, rgba($black, .1);
  font-family: $font-face-1;
  font-size: $font-size;
  font-weight: bold;
  text-transform: uppercase;
}

/*
 * ...Extend it with particular styles...
 */
%btn-blue {
  @extend %btn;
  background-color: $color-1;
  color: $white;

  &:hover {
    background-color: darken($color-1, .1);
  }
}

/*
 * ...Apply it to real items in your proyect.
 */
.btn-i-am-a-button {
  @extend %btn-blue;
}

.btn-info {
  @include circle(15px, $soft-grey, 1px, $soft-grey, border);
  font-size: $font-size-small;
}
