.switch {

  $switch-main: #9B9B9B;
  $switch-main-active: #FFFFFF;
  $switch-bg: rgba(255, 255, 255, 0.89);
  $switch-bg-active: #A80041;  
  margin: 0;

  &.small {
    label {
      background: $switch-bg;
      border: 1.7px solid $switch-main;
    }

    input:checked + label {
      background: $switch-bg-active;
      border-color: $switch-bg-active;
    }

    input:checked + label:after {
      left: rem-calc(11px);
      background: $switch-main-active;
    }

    &.round label {
      border-radius: rem-calc(7px);
    }
    &.small label {
      width: rem-calc(22px);
      height: rem-calc(12px);

      &:after {
        width: rem-calc(8px);
        height: rem-calc(8px);
        top: rem-calc(1px);
        left: rem-calc(1px);
        background: $switch-main;
      }
    }
  }
}