<div class="custom-info-window-content">
  <div class="image">
    <img src="<%=asset_path('infowindow-test-pic.jpg')%>" />
  </div>

  <div class="title">{{title}}</div>

  <div class="description">
    <p>{{description}}</p>
  </div>

  <div class="layers">
    <ul>
      {{#each layers}}
        <li data-layer-slug="{{slug}}">
          <div class="layer-name">{{name}}</div>
          <div class="switch round small">
            <input id="{{slug}}" class="layer-switch" data-layer-slug="{{slug}}" type="checkbox" {{activeCheck}}>
            <label for="{{slug}}"></label>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>

</div>
<div class="custom-info-window-arrow"></div>