<div class="legend-button">
  <span>Legend</span>
</div>

<div class="legend-box">
  <div class="legend-top">
    <div class="legend-title">Legend</div>
    <div class="legend-btn-close">x</div>
  </div>
  <div class="legend-content">
    {{#each layers}}
      <div class="group">
        <div class="group-name">{{this.0.groupName}}</div>
        <div class="group-items">
          {{#each this}}
            <div class="group-item"><div style="background-color:{{color}}" class="item-icon"></div>{{name}}</div>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
