<div id="search-tpl">
  <div class="search-content">

    <div class="search-box">
      <div class="btn-clear is-hidden">x</div>
      <input id="search" type="text" placeholder="Search area" />
    </div>

    <div class="search-result"></div>
    <div class="search-suggestions is-hidden">
    </div>
  </div>
  <div class="search-bottom"></div>
</div>

<div id="search-suggestions-tpl">
  {{#if data}}
    <ul>
      {{#each data}}
        <li title="{{title}}">{{{name}}}, <span class="category">{{type}}</span></li>
      {{/each}}
    </ul>
  {{!-- {{else}}
    <div class="no-results">No results</div> --}}
  {{/if}}
</div>
