<ul id="sidebarTabs" class="tabs tabs-secondary-content" role="tablist" data-tab>
  <li class="tab-title active" data-section="layers">
    <a href="#layersListView">Layers</a>
  </li>
  {{#if analysis}}
  <li class="tab-title" data-section="analysis">
    <a href="#analysisContent">Analysis</a>
  </li>
  {{/if}}
</ul>

<div class="tabs-content content">
  <div id="layersListView" class="m-layers-list content active"></div>
  {{#if analysis}}
  <div id="analysisContent" class="m-analysis-content content">
    <div id="analysisSelectorsView" class="m-analysis-selectors"></div>
    <div id="analysisView" class="m-analysis">
    </div>
  </div>
  {{/if}}
</div>

<div class="sidebar-logo">
  <p class="site-title"><a href="http://www.resilienceatlas.org/" target='_blank' title='Resilience Atlas'>Resilience Atlas</a></p>
  <p class="site-title-by">by</p>
  <a class="brand-area" href="http://www.conservation.org/" target='_blank' title='Conservation International'>Conservation International</a>
  <p class="site-copyright">© 2016 Conservation International</p>
</div>
