<ul class="tabs-secondary-content" role="tablist" data-tab>
  <li class="tab-title active">
    <a href="#layersListView">Layers</a>
  </li>
  <li class="tab-title">
    <a href="#analysisSelectorsView">Analysis</a>
  </li>
</ul>

<div class="tabs-content content">
  <div id="layersListView" class="m-layers-list content active"></div>
  <div id="analysisSelectorsView" class="m-analysis-selectors"></div>
</div>
