<ul>
  <li class="search">
    <svg class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
    </svg>
    <div class="m-search-map" id="searchBox">
      <input id="searchMap" placeholder="Search area" type="search">
      <div class="search-box" id="searchContent">
        <div id="search-tpl">
          <div class="search-content">
            <div class="search-result"></div>
            <div class="search-suggestions"></div>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <button class="btn-share">
      <svg class="icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-share"></use>
      </svg>
    </button>
  </li>
  <li>
    <button class="btn-export">
      <svg class="icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-downloads"></use>
      </svg>
    </button>
  </li>
</ul>
