.btn {
  @extend %clean-button-or-input;
  border-radius: 50px;
  font-weight: 700;
  padding: rem(12px) rem(50px) rem(8px);
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  &.btn-primary {
    background: $bg-color-1;
    color: $font-color-2;

    &:hover {
      background: darken($bg-color-1,5%);
    }
  }
}

#btn-prev,
#btn-next,
#btn-next-journey,
.btn-check-it {
  @extend %clean-button-or-input;
  display: block;
  position: relative;
  float: left;
  background-color: $bg-color-1;
  font-size: rem(16px);
  font-weight: 300;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
  color: $font-color-1;
}

#btn-prev {
  border-radius: 50px;
  height: rem(45px);
  padding: rem(14px) rem(20px) rem(8px) rem(40px);
  text-transform: capitalize;

  &:before {
    @extend %centery;
    @include arrow(15px, $font-color-1, 1px, -45deg);
    content: "";
    left: rem(10px);
    transform: translate(50%, -50%) rotate(-45deg);
  }
}

#btn-next,
#btn-next-journey {
  border-radius: 50px;
  height: rem(45px);
  padding: rem(14px) rem(40px) rem(8px) rem(20px);
  text-transform: capitalize;

  &:before {
    @extend %centery;
    @include arrow(15px, $font-color-1, 1px, 135deg);
    content: "";
    right: rem(10px);
    transform: translate(-50%, -50%) rotate(135deg);
  }
}

.btn-check-it {
  text-transform: capitalize;
  border-radius: 50px;
  height: rem(45px);
  padding: rem(15px) rem(20px) rem(2px);
  position: absolute;
  bottom: rem(40px);
  right: rem(180px);
  color: $font-color-1;
  z-index: 100;
  // background-color: $bg-color-1;
  &:hover {
    text-decoration: none;
  }

  &:active,
  &:focus {
    border: 0;
  }
}

#btn-next-journey {
  display: none;
  line-height: 1.5em;
  padding: rem(12px) rem(40px) rem(8px) rem(20px);
}

.btn-info {
  @extend %clean-button-or-input;
  float: right;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0, .2);
  color: rgba(0,0,0, .2);
  font-weight: 500;
  font-size: 16px;
  padding: 0;
}

.btn-download {
  float: right;
  margin-right: rem(6px);
}






