.btn {
  @extend %clean-button-or-input;
  border-radius: 50px;
  font-weight: 700;
  padding: rem(12px) rem(50px) rem(8px);
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  &.btn-primary {
    background: $bg-color-1;
    color: $font-color-2;

    &:hover {
      background: darken($bg-color-1,5%);
    }
  }
}

#btn-prev,
#btn-next {
  @extend %clean-button-or-input;
  display: block;
  position: relative;
  float: left;
  border: 1px solid rgba(#222, .5);
  background-color: $bg-color-1;
  font-weight: 700;

  &:active {
    border: 1px solid rgba(#222, .5);
  }
}

#btn-prev {
  padding: 0;
  border-radius: 50%;
  height: rem(45px);
  width: rem(45px);
  margin-right: rem(20px);

  &:before {
    @extend %center;
    @include arrow(15px, $font-color-1, 1px, -45deg);
    content: "";
    transform: translate(-35%, -50%) rotate(-45deg);
  }
}

#btn-next {
  border-radius: 50px;
  height: rem(45px);
  padding: rem(12px) rem(50px) rem(8px);
  text-transform: capitalize;

  &:before {
    @extend %centery;
    @include arrow(15px, $font-color-1, 1px, 135deg);
    content: "";
    right: rem(5px);
    transform: translate(-50%, -50%) rotate(135deg);
  }
}

.btn-check-it {
  border-radius: 50px;
  height: rem(45px);
  padding: rem(14px) rem(14px) rem(2px);
  position: absolute;
  bottom: rem(40px);
  right: rem($content-margin);
  background-color: $bg-color-1;
}
