.m-analysis {
  top: 0;
  transform: translate($sidebar-width, 0);
  position: absolute;

  &.visible {
    width: 100%;
    bottom: 0;
    right: 0;
    background: $white;
    transform: translate($sidebar-analysis-width, 0);
  }

  .container {
    .navigation {
      width: 100%;
      background: $gray-5;

      .btn-back-analysis {
        font-size: 14px;
        line-height: 14px;
        color: $gray-70;
        font-weight: 400;
        letter-spacing: 0.5px;
        padding: 15px 10px 13px 37px;
        cursor: pointer;
      }
    }

    .content {
      width: 100%;
      padding-right: 10px;
      padding: 10px 20px 0px 20px;
      overflow-y: scroll;
      @extend %clear-scroll-bars;
      background-color: #fff;

      h2 {
        font-size: rem(36px);
        font-weight: 400;
        color: $gray-70;
        letter-spacing: -0.4px;
        margin-top: 25px;
        margin-left: 14px;
      }
    }
  }
}