.m-analysis-selectors {
  width: rem(300px);
  height: rem(500px);
  background: $white;
  border: 1px solid $black;
  position: absolute;
  top: rem(50px);
  left: rem(500px);
  display: none;

  &.visible {
    display: block;
  }

  .selector-box {
    width: 100%;
    display: block;
    position: relative;

    .heading {
      width: 100%;
      background: $gray-5;
      padding: rem(4px) rem(3px) rem(1px) rem(34px);

      h2 {
        font-size: 14px;
        line-height: 14px;
        color: $gray-70;
      }
    }

    ul {
      margin: 0;
      padding: rem(7px) 0 rem(7px) 0;
      list-style: none;

      li {
        font-weight: 400;
        font-size: rem(14px);
        line-height: rem(14px);
        padding: rem(10px) rem(10px) rem(8px) rem(33px);
        letter-spacing: rem(0.5px);
        cursor: pointer;
        position: relative;

        &:before {
          content: '';
          width: rem(9px);
          height: rem(9px);
          background: $white;
          border-radius: rem(9px);
          border: 1px solid #C0C0C0;
          position: absolute;
          top: rem(11px);
          left: rem(16px);
          transition: .2s $easeInOutSine;
        }

        &.selected {
          &:before {
            border-color: $bg-color-2;
            background: $bg-color-2;
          }
        }
      }
    }

    &.selected {
      &:before{
        content: '';
        width: 10px;
        height: 10px;
        background: red;
        border-radius: 10px;
        position: absolute;
        top: 16px;
        left: 15px;
        z-index: 1;
      }
    }
  }
}
