.m-analysis {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .container {
    box-sizing: border-box;
    position: relative;
    display: flex;
    margin: auto;
    z-index: 14;
    //optional, min size.
    width: 800px;
    height: 600px;
    max-width: 90%;
    background-color: $bg-color-1;
    box-shadow: 0 1px 4px 0 rgba(0,0,0, .2);

    .content {
      width: 100%;
      padding-right: 10px;
      padding: rem(50px);
      overflow-y: scroll;
      @extend %clear-scroll-bars;
      background-color: #fff;
    }
  }

  .bg-window {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    background: #000;
    opacity: .5;    
  }
  
  .btn-close,
  .btn-close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;

    cursor: pointer;
    font-weight: bold;
    color: $font-color-1;
    font-size: 18px;
    font-weight: 700;
    line-height: .5em;
  }
}