/* Charts */

.graph {

  // Line chart
  $y-axis-dotted-light: #D4D4D4;
  $y-axis-dotted-dark: #737373;
  $line-trail: #D8D8D8;
  $circle-trail-fill: $font-color-1;
  $circle-trail-border: $white;
  $path-color: $font-color-2;

  .tooltip-graph {
    width: rem(105px);
    height: rem(68px);
    position: absolute;
    z-index: 1;
    display: none;
    pointer-events: none;

    .content {
      width: 100%;
      height: inherit;
      padding: 8px;
      text-align: center;
      background: rgba(255,255,255,1);
      border-radius: rem(4px);
      box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
      overflow: hidden;

      .title {
        margin: 0 auto;
        text-align: center;
        padding-bottom: rem(5px);
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        color: $gray-70;
        margin-top: 5px;
        margin-bottom: 0;
      }

      .value {
        text-align: center;
        color: $font-color-2;
        font-weight: 700;
        padding-top: 0;
        font-size: 20px;
        margin-bottom: rem(3px);

        &.noLabel {
          margin-top: 19px;
        }
      }
    }
    .bottom {
      width: 40px;
      height: 20px;
      left: rem(34px);
      bottom: 0;
      position: relative;
      overflow: hidden;
      transform: rotate(180deg);
      box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);

      &:after{
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background: $white;
        transform: rotate(45deg);
        top: 13px;
        left: 12.5px;
        box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
      }
    }

    &.left {
      border-radius: rem(4px);
      border: 1px solid #D8D8D8;
      box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);

      .bottom {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: rem(8.5px) rem(9px) rem(8.5px) 0;
        border-color: transparent #D8D8D8 transparent transparent;
        left: rem(-10px);
        bottom: rem(48px);
        position: relative;

        &:before{
          content: '';
          position: absolute;
          border-style: solid;
          border-width: rem(8.5px) rem(9px) rem(8.5px) 0;
          border-color: transparent rgba(255,255,255,1);
          display: block;
          width: 0;
          z-index: 0;
          left: rem(1px);
          bottom: rem(-8px);
        }
      }
    }

  }



  &.graph-line {
    position: relative;

    .tooltip-graph {
      height: rem(65px);

      .content {
        .title {
          height: rem(20px);
          text-transform: uppercase;
        }
        .value {
          padding-top: 0;

          .tooltip-unit {
            font-size: 12px;
            text-transform: none;
            font-weight: 400;
          }
        }
      }
    }

    rect {
      shape-rendering: crispEdges;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x {
      &.axis path {
        stroke: #737373;
      }

      text {
        fill: #999999;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .y {
      &.axis {
        .domain {
          stroke-width: 0;
        }

        .tick {
          line {
            stroke-dasharray: 1, 1;
            stroke: $y-axis-dotted-light;
          }
          &:first-child {
            line {
              stroke: $y-axis-dotted-light;
            }
          }
        }
      }

      text {
        fill: #999999;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .unit {
      fill: #999999;
      font-size: 12px;
      font-weight: 400;
      text-anchor: end;

      &.z {
        fill: #0089CC;
      }
    }

    .focus {
      circle {
        fill: $circle-trail-fill;
        stroke: $circle-trail-border;
        stroke-width: 2;
      }
    }

    .trail {
      stroke: $line-trail;
      shape-rendering: crispEdges;
    }

    .line {
      fill: none;
      stroke: $path-color;
      stroke-width: 3px;
    }

    .overlay {
      fill: none;
      pointer-events: all;
    }
  }

  .legend-stack-graph {
    width: 70%;
    margin-left: rem(133px);
    margin-top: rem(15px);
    display: inline-block;

    .list {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: left;

      .list-icon {
        width: rem(11px);
        height: rem(11px);
        display: inline-block;
        float: left;
        border-radius: rem(11px);
        margin-top: rem(2px);
        margin-right: rem(5px);
      }

      .item {
        float: left;
        margin-right: rem(22px);
        font-size: rem(10px);
        font-weight: 600;
        text-transform: uppercase;
        color: $gray-light;
        letter-spacing: rem(0.43px);
      }
    }
  }

  &.group-horizontal {
    .chart .legend {
      fill: black;
      font: 14px sans-serif;
      text-anchor: start;
      font-size: 12px;
    }

    .chart rect {
      shape-rendering: crispEdges;
    }

    .chart text {
      text-anchor: start;
      fill: #999999;
      font-size: 12px;
      font-weight: 400;
    }

    .chart .label {
      fill: #999999;
      font-size: 14px;
      font-weight: 400;
      text-anchor: end;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #737373;
      shape-rendering: crispEdges;
    }
  }

  &.bar-chart {
    margin-bottom: 15px;
    
    .domain {
      stroke-width: 0;
    }

    .z {
      &.axis {
        line {
          stroke-width: 0;
        }
      }
      text {
        fill: #0089CC;
      }
    }
  }

  &.graph-pyramid {
    rect {
      shape-rendering: crispEdges;
      stroke-width: 1;
      stroke: #fff;
    }

    .y {
      &.axis {
        .domain {
          stroke-width: 1;
          stroke: #737373;
          shape-rendering: crispEdges;
        }
      }
    }

    text {
      fill: #999999;
      font-size: 13px;
      font-weight: 400;
      text-transform: capitalize;
    }

    .tooltip-graph {
      .value {
        font-size: 16px;
        margin-bottom: 0;
      }
    }
  }
}

.legend {
  width: 94%;
  margin: 0 auto;
  padding: 11px;
  padding-bottom: 0;

  svg {
    padding-top: rem(5px);
  }

  .text {
    fill: #999999;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
  }
  .icon {
    width: rem(11px);
    height: rem(11px);
    // border-radius: rem(11px);
  }

  rect {
    shape-rendering: crispEdges;
  }

  &.group-horizontal {
    width: 95%;
    margin: 0 auto;
    padding-left: 0;
    padding-bottom: 0;
  }
}
