.m-data-item {
  display: flex;
  display: -ms-box;
  align-items: center;
  margin-bottom: rem($margin-small);
  border-bottom: 1px solid $light-grey;
  overflow: hidden;

  .name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
