.m-dashboard-timeline {
  $timeline-bg: $light-grey;
  $timeline-handler-bg: rgba($color-1, 0.125);
  $timeline-main-color: $color-2;

  width: 90%;
  height: rem-calc(70px);
  display: inline-block;
  line-height: rem-calc(60px);
  display: none;

  &.visible {
    display: block;
    position: relative;

    &.loading {
      @extend .loader-timeline-dashboard;
      background-position: 50% 30%;
      background-size: 30px auto;
    }
  }

  .handler {
    width: 20px;
    height: 31px;
    position: absolute;
    z-index: 3;
    cursor: move;
    transform: translate3d(0,0,0);
    top: -2px;

    &.handlerLeft {
      margin-left: -10px;
    }
  }

  .handler-bg {
    width: 20px;
    height: 2px;
    position: absolute;
    z-index: 0;
    transform: translate3d(0,0,0);
    top: 0;
    left: 0;
    background: $color-2;

    &:after {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 6px;
      top: -5px;
      right: -12px;
      margin-left: -10px;
      position: absolute;
      z-index: 1;
      background: $timeline-main-color;
    }

    &:before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 6px;
      top: -5px;
      left: -8px;
      position: absolute;
      z-index: 1;
      background: $timeline-main-color;
    }
  }

  .timeline-content {
    width: 100%;
    height: 58px;
    background: $white;
    position: absolute;
    bottom: 0;
    user-select: none;

    &:before {
      content: "";
      width: 97%;
      height: 2px;
      background: $timeline-bg;
      position: absolute;
      top: 0;
      left: rem-calc(5px);
    }

    .dragging & {
      cursor: move;
    }

    .timeline-structure {
      width: 100%;
      height: 42px;
      transform: translate3d(0,0,0);
      position: relative;
      z-index: 1;
      user-select: none;
      cursor: default;

      .dragging & {
        cursor: move;
      }

      .steps-groups {
        width: 100%;
        height: 5px;
        margin: 0;

        .group {
          width: auto;
          height: inherit;
          float: left;

          .group-text {
            text-align: center;
            font-size: rem-calc($font-size-small);
            font-weight: 700;
            letter-spacing: rem-calc(0.52px);
            line-height: rem-calc($font-size-small);
            margin-top: rem-calc(15px);
            color: $font-color-1;
          }

          &:first-child {
            .group-text {
              text-align: left;
              margin-left: 10%;
            }
          }

          &:last-child {
            .group-text {
              text-align: right;
              margin-right: 10%;
            }
          }
        }
      }

      .steps {
        width: 100%;
        height: 0px;
        margin: 0;
        position: relative;
        z-index: 0;
        padding-top: 0px;

        .step-margin {
          width: auto;
          height: 10px;
          float: left;
          position: relative;
        }

        .step {
          width: auto;
          height: 10px;
          float: left;
          top: 0;
          position: relative;
          text-align: center;

          .step-item-data {
            width: 9px;
            height: 9px;
            background: $dark-grey;
            margin: auto;
            position: absolute;
            top: -12px; left: 0; bottom: 0; right: 0;
            z-index: 4;
            transform: rotate(45deg);
            cursor: pointer;

            .dragging & {
              cursor: move;
            }

            &.selected {
              width: 13px;
              height: 13px;
              background: $white;
              border: 1px solid $dark-grey;
            }
          }

          .step-value {
            width: 1px;
            height: 10px;
            margin: 0 auto;
          }

          .step-item-group {
            height: 0;
            font-size: rem-calc($font-size-small);
            font-weight: 700;
            margin: auto;
            position: absolute;
            top: 0;
            left: -8px;
            bottom: 22px;
            right: 0;
          }

          &.currentStep {
            .step-value {
              background: none;
            }
          }
        }
      }
    }
  }

}
