.m-dashboard {
  margin: rem($margin-medium);
  // position: absolute;
  // top: rem($margin-medium);
  // bottom: rem($margin-medium);
  // left: rem($margin-medium);
  // right: rem($margin-medium);
  overflow-y: scroll;

  .switcher {
    @include switcher(20px, 12px, $soft-grey, $white, $color-1);
  }

  .container-country {

    display: inline-block;
    width: 46%;
    margin-bottom: 10px;
    border: 1px solid $light-grey;
    border-radius: 7px;
    padding: 10px;

    .country-name {
      margin: 0;
      text-align: center;
    }
  }
}
