.m-explore {
  background: $bg-color-2;
  position: relative;
  overflow: hidden;
  padding: rem(100px) 0 rem(200px);

  figure {
    margin: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: image-url('home/bg-explore.png') left bottom no-repeat;
  }
}
