.m-explore {
  article {
    width: 50%;
    color: $font-color-3;
    h2 {
      font-family: $font-face-2;
      font-weight: 400;
      font-size: 64px;
    }
    p {
      font-size: 20px;
    }
  }
}
