$backgrounds-about: 'bg-about1','bg-about2';

.m-home-about {
  ul {
    @extend %clean-lists;
    li {
      position: relative;
      min-height: rem(510px);
      @for $i from 1 through length($backgrounds-about) {
        &.#{nth($backgrounds-about, $i)}{
          background: image-url('home/#{nth($backgrounds-about, $i)}.jpg') center;
          background-size: cover;
        }
      }
    }
  }

  .credits {
    position: absolute;
    bottom: 10px;
    right: 20px;
    margin: 0;

    a {
      color: $font-color-3;
    }
  }
}
