$backgrounds: 'journey1bg0', 'journey2bg0';

.m-journey-landing {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  @for $i from 1 through length($backgrounds) {
    &.#{nth($backgrounds, $i)}{
      background-image: image-url('journeys/landing/#{nth($backgrounds, $i)}.jpg');
    }
  }

  // &.journey1bg0:before,
  // &.journey2bg0:before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   background-color: rgba(0,0,0, .3);
  // }

  .row {
    z-index: 1;
  }

  .intro {
    @extend %center;
    text-align: center;

    h1 {
      color: $font-color-3;
      text-transform: uppercase;
      font-size: rem(144px);
      font-family: $font-face-2;
      font-weight: 400;
      margin: 0;
      line-height: 0.4em;
    }

    h2 {
      //Preguntar a Dani
      display: none;
    }

    h3 {
      color: $font-color-3;
      font-size: rem(26px);
      font-weight: 300;
      line-height: 1.2em;
    }
  }

  .logo {
    @extend %centerx;
    width: rem(164px);
    height: rem(52px);
    bottom: rem(40px);
    background-image: image-url('logo-ci.png');
    background-position: center;
    background-size: 100%;
  }
}
