$side-bar-width: 25%;
$side-bar-min-width: 400px;

%m-journey-embed {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .embebed-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #eee;

    // sidebar trampa
    // &:after {
    //   content: "";
    //   box-sizing: content-box;
    //   position: absolute;
    //   width: $side-bar-min-width + 10px;
    //   padding-left: rem(40px);
    //   top: 0;
    //   left: 0;
    //   bottom: rem(340px);
    //   background: white;
      // box-shadow: 0 0 20px 10px $bg-color-1;
    // }
  }

  embed {
    width: 100%;
    height: 100%;
  }

  .side-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: rem(45px) rem(40px);
    min-width: rem($side-bar-min-width);
    width: $side-bar-width;
    background-color: #fff;

    footer {
      border-bottom: 1px solid rgba($font-color-1, .1);
    }

    section {
      border-top: 1px solid rgba($font-color-1, .1);
    }

    header {
      margin-bottom: rem(10px);
    }

    h2 {
      margin: 0;
      font-size: rem(64px);
      font-family: $font-face-2;
      line-height: .8em;
      text-transform: uppercase;
    }

    h3 {
      text-transform: uppercase;
    }

    h1 {
      font-size: rem(36px);
      font-weight: 400;
    }

    h4 {
      font-size: rem(16px);
      margin-bottom: 0;
    }

    p {
      font-size: rem(18px);
      font-weight: 400;
      margin-top: 0;
    }

    // @media screen and (max-width: 1024px) and (orientation: landscape) {

    //   top: rem(20px);

    //   h2 {
    //     font-size: rem(32px);
    //   }

    //   h1 {
    //     font-size: rem(20px);
    //   }

    //   h3, p {
    //     font-size: rem(16px);
    //   }

    //   h4 {
    //     font-size: rem(14px);
    //   }
    // }

    footer {
      display: block;
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: rem(16px);
        height: rem(20px);
        background-image: image-url('cigrp-simply-logo.png');
        background-size: 100%;
        background-repeat: no-repeat;
      }

      p {
        text-transform: uppercase;
        font-size: rem(10px);
        margin: 0;
      }
    }
  }

  .m-controls {
    position: absolute;
    bottom: rem(40px);
    left: rem(45px);
    right: rem(45px);
    width: auto;

    #btn-next {
      float: right;
    }
  }

  @media screen and (max-width: 1024px) and (orientation: landscape) {
    section {
      margin-bottom: rem(10px);
      max-height: rem(200px);
      overflow-y: scroll;
    }
  }

}

.m-journey-embed--light {
  @extend %m-journey-embed;

  h2 {
    color: $font-color-1;
  }

  h1,
  h3,
  .btn-check-it {
    color: $font-color-2;
  }

  .side-bar {
    color: $font-color-1;
  }

}
