.m-journey-conclusion {

  .content {
    @extend %center;
    width: 50%;

    h2 {
      font-size: rem(64px);
      text-transform: uppercase;
      font-family: $font-face-2;
      margin-bottom: 0;
    }

    h3 {
      font-size: rem(18px);
      text-transform: uppercase;
      font-weight: 400;
    }

    p {
      font-size: rem(18px);
      font-weight: 400;
    }
  }

  #btn-next-journey {
    display: block !important;
  }
}
