.m-journey--chapter {
  @extend %journey;

  .wrapper {
    @extend %center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  h1 {
    text-transform: uppercase;
    font-size: rem(56px);
    font-family: $font-face-2;
    font-weight: 400;
    margin: 0;
    line-height: .8em;
  }

  p {
    font-weight: 400;
    line-height: 1.2em;
    margin-bottom: 2em;
    margin-top: 0;
  }

  .chapter-intro {
    float: right;
    width: 30%;
    min-width: rem(300px);
    margin: 0 rem(45px);
  }

  .credits {
    a {
      color: $font-color-1 !important;
    }
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: rem(50px);
    }
  }
}

// .chapter-mask--1 {
//   @extend %image-requirements;
//   background-image: image-url("journeys/chapters/chapter-1.svg");
// }

// .chapter-mask--2 {
//   @extend %image-requirements;
//   background-image: image-url("journeys/chapters/chapter-2.svg");
// }

// .chapter-mask--3 {
//   @extend %image-requirements;
//   background-image: image-url("journeys/chapters/chapter-3.svg");
// }
