$backgrounds-thumb: 'thumb-0', 'thumb-1', 'thumb-2', 'thumb-3', 'thumb-4', 'thumb-5';

// SLIDER JOURNEYS INDEX
.m-journey__paginationlist {
  @extend %clean-lists;

  margin: 0 auto;

  @media screen and (min-width: 470px){ width: rem(470px); padding: rem(40px); }
  @media screen and (min-width: 850px){ width: rem(850px); }
  @media screen and (min-width: 1230px){ width: rem(1230px); }


  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: translate(0,-100%);
  transition: opacity 0.12s linear;

  &.is-active {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0%);
  }

  .m-journey__pagination {
    display: inline-block;
    position: relative;

    height: calc((100vw - 20px) / 2);
    width: calc(100vw - 20px);
    @media screen and (min-width: 470px){ width: rem(360px); height: rem(180px); }

    margin: 10px;
    cursor: pointer;
    outline: none;
    background-size: cover !important;
    background-position: center;

    @for $i from 1 through length($backgrounds-thumb) {
      &.#{nth($backgrounds-thumb, $i)}{
        background-image: image-url('home/#{nth($backgrounds-thumb, $i)}.jpg');
      }
    }

    a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;


      -webkit-box-shadow: 14px 24px 56px 4px rgba(0,0,0,0.2);
         -moz-box-shadow: 14px 24px 56px 4px rgba(0,0,0,0.2);
              box-shadow: 14px 24px 56px 4px rgba(0,0,0,0.2);
    }

    &:before {
      content: "";
      @extend %center;
      transform: translate(-50%,0%);
      z-index: 2;
      border-top: 22px solid $font-color-3;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      opacity: 0;
      visibility: hidden;
      transition: all 0.12s linear;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: $bg-color-5;;
      opacity: .4;
      transition: all 0.12s linear;
    }


    &:hover, &.is-active {
      &:after {
        opacity: .5;
      }

    }


    &.is-active {
      .title {
        opacity: 0;
        visibility: hidden;
      }

      &:before {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%,-50%);
      }
    }

    .title {
      position: absolute;
      left: 50%;
      bottom: 5%;
      transform: translateX(-50%);
      opacity: 1;
      visibility: visible;
      transition: all 0.12s linear;
      width: 340px;

      &.is-discoverlink {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    h2,
    h3 {
      text-align: center;
      color: $font-color-3;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
      margin: 0;
    }

    h2 {
      margin-top: 3px;
      font-family: $font-face-2;
      font-size: rem(25px);
    }

    h3 {
      font-family: $font-face-1;
      font-size: rem(12px);
      font-weight: 500;
    }

    .is-discoverlink h3 {
       font-size: rem(14px);
    }
  }
}
