$backgrounds: 'journey1ch1', 'journey1ch2', 'journey1ch3', 'journey2ch1', 'journey2ch2', 'journey2ch3';

$side-bar-width: 25%;
$side-bar-min-width: 350px;

%image-requirements {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;

  &:before {
    content: "";
    background-color: #fff;
    width: 50%;
    right: 0;
    bottom: 0;
    position: absolute;
    top: 0;
  }
}

.m-journey--chapter {
  @extend %journey;
  @extend %image-requirements;
  //To avoid little line
  // right: -1px;

  @for $i from 1 through length($backgrounds) {
    &.#{nth($backgrounds, $i)}{
      background-image: image-url('journeys/chapters/#{nth($backgrounds, $i)}.jpg');
    }
  }

  .wrapper {
    @extend %center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  h1 {
    text-transform: uppercase;
    font-size: rem(56px);
    font-family: $font-face-2;
    font-weight: 400;
    margin: 0;
    line-height: .8em;
  }

  p {
    font-weight: 400;
    line-height: 1.2em;
    margin-bottom: 2em;
    margin-top: 0;
  }

  .chapter-intro {
    float: right;
    width: 30%;
    min-width: rem(300px);
    margin: 0 rem(45px);
  }

  .credits {
    a {
      color: $font-color-1 !important;
    }
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: rem(50px);
    }
  }
}

// .chapter-mask--1 {
//   @extend %image-requirements;
//   background-image: image-url("journeys/chapters/chapter-1.svg");
// }

// .chapter-mask--2 {
//   @extend %image-requirements;
//   background-image: image-url("journeys/chapters/chapter-2.svg");
// }

// .chapter-mask--3 {
//   @extend %image-requirements;
//   background-image: image-url("journeys/chapters/chapter-3.svg");
// }
