.m-loader {
  position: absolute;
  left: rem(360px);
  top: rem(10px);
  z-index: 1;
  padding: rem(10px) rem(10px) rem(8px) rem(35px);
  border: 1px solid $bg-color-3;
  background-color: rgba($bg-color-1, 0.95);
  text-transform: capitalize;
  opacity: 0;
  pointer-events: none;
  font-size: rem(12px);
  line-height: rem(12px);
  color: $bg-color-2;

  &.is-loading {
    opacity: 1;
    @include spinner (20px, 3px, $bg-color-2);

    &:after {
      left: rem(9px);
      top: 50%;
    }
  }
}
