div.cartodb-infowindow {
  transform: translatey(-10px);
}

div.cartodb-popup {
  background: $white;
  border: 1px solid $light-grey;
  padding: rem($margin-medium);

  p {
    padding-bottom: 0;
  }

  &:after {
    content: '';
    display: block;
    @include equi-triangle (5px, $white, bottom);
    position: absolute;
    bottom: -5px;
    left: 18px;
  }

  &:before {
    content: '';
    display: block;
    @include equi-triangle (7px, $light-grey, bottom);
    position: absolute;
    bottom: -7px;
    left: 17px;
  }
}

div.cartodb-popup div.cartodb-popup-content-wrapper {
  background: none;
}

div.cartodb-popup div.cartodb-popup-tip-container {
  display: none;
}

div.cartodb-popup div.cartodb-popup-content-wrapper {
  padding: 0;
}

div.cartodb-popup a.cartodb-popup-close-button {
  top: rem(5px);
  right: rem(5px);
  width: auto;
  height: auto;
  background: none;
  text-indent: 0;
  font-size: rem($font-size-small);
  font-weight: bold;
  line-height: rem($font-size-small);
  text-align: center;
  color: $font-color-1;
}
