.m-modal-window {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal-background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  background: #000;
  opacity: .5;
}

.modal-wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  margin: auto;
  z-index: 14;
}

.modal-container {
  padding: $margin-medium $margin-large; //Minimun, 10px, cause windows scroll.
  overflow: scroll;
  background-color: #fff;
  //optional, min size.
  min-width: 500px;
  min-height: 200px;

  a {
    color: $color-1;
  }

  // REMOVE
  .init-content {
    display: flex;
    height: 180px;
    align-items: center;
    justify-content: center;
    a {
      font-size: 20px;
    }
  }
}

.btn-close-modal {
  @extend %btn-close;
  position: absolute;
  top: 15px;
  right: $margin-small;
  z-index: 1;
  font-size: 25px;
}

.share-url {
  width: 100%;
  height: rem(40px);
}


