.m-report-page {
  > .row {
    // We want the page to fit in a A4 page
    // for the PDF
    max-width: 19cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
  }

  .m-map {
    position: static;
    width: 100%;
    height: 500px;

    .leaflet-control-zoom {
      display: none;
    }
  }

  .m-legend {
    position: static;
    width: 100%;
    box-shadow: none;
  }

  .logo {
    display: block;
    width: 200px;
    height: 70px;
    margin: 20px auto;
    background-image: image-url("logo-ci.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
