.m-sidebar {
  .tabs {
    @extend %clean-lists;
    padding-top: 10px;
    padding-left: 10px;
    background-color: $bg-color-2;
  }

  li[data-section="analysis"] {
    .is-indicators & {
      display: none;
    }
  }

  .tab-title {
    a {
      padding: 10px 20px;
      background-color: $bg-color-2;
      color: $font-color-3;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: .1em;

      &:hover {
        text-decoration: none;
      }

      &:focus {
        outline: none;
      }
    }

    &.active {
      a {
        background-color: $font-color-3;
      }
    }
  }

  .tabs-content {
    margin-bottom: 0;

    .content {
      padding: 0 rem(10px);
    }
  }

}
