.m-search-map {
  @extend %search;

  .search-box {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    transform: translatey(100%);
    width: rem(190px);
    max-height: rem(300px);
    background-color: $white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);

    .search-content {

      .focus & {
        padding: rem(10px) rem(7px);
      }
    }

    .search-suggestions {
      padding: rem(10px);
      max-height: rem(208px);
      overflow-y: scroll;
      @extend %clear-scroll-bars;

      ul {
        box-shadow: none;
      }
    }

    .name {
      height: rem(25px);

      span {
        font-weight: 500;
        text-decoration: underline;
        top: auto;
      }
    }
  }
}
