.m-static-page {
  h2 {
     margin-top: 0;
     font-size: rem(64px);
     font-family: $font-face-2;
     font-weight: 400;
     text-transform: uppercase;
     line-height: .9em;
     margin-bottom: rem(20px);
  }

  article {
    padding-top: 20px;
    margin-bottom: 80px;
  }

  a {
    color: $bg-color-2;
  }

  p {
    font-size: rem(18px);
    font-weight: 400;
    letter-spacing: 1px;
  }

  p:first-child {
    margin-top: 0;
  }

  img {
    width: 100%;
    background-color: rgba(0,0,0,.2);
  }
}
