.m-section-nav {
  width: 90%;
  margin: 20px auto;

  ul, li {
    @extend %clean-lists;
    padding: 0;
  }

  display: flex;
  justify-content: space-between;

  a {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #555;
  }
}
