%search {
  display: inline-block;

  .search-box {
    // display: none;

    // &.visible {
    //   display: block;
    // }

    .search-content {
      width: 100%;
      height: inherit;
      position: relative;

      &.searching {
        .btn-clear {
          opacity: 1;
          cursor: pointer;
          pointer-events: auto;
        }

        .search-selector {
          display: none;
        }

        .search-result {
          display: none;
        }

        .search-suggestions {
          display: block;
        }
      }
    }

    .search-suggestions {
      display: none;
      height: auto;

      ul {
        width: 98%;
        column-count: 1;
        column-gap: rem(0px);
        margin: 0 auto;
        list-style: none;
        display: block;

        li {
          width: 100%;
          float: left;
          cursor: pointer;
          color: $font-color-1;
          @include ellipsis(95%);

          .name {
            float: left;
            text-align: left;
            color: $font-color-1;
          }

          &.selected {
          }
        }
      }
      .no-results {
        width: 100%;
        text-align: center;
        color: $font-color-1;
        margin-top: rem(15px);
      }
    }
  }
}
