.m-search {
  position: relative;
  width: 33.3333%;
  height: 40px;
  float: right;

  .search-box {
    height: 40px;
    position: relative;
    width: 100%;

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 10px;
      bottom: 0;
      width: 20px;
      height: 40px;
      background: image-url("icon-search.svg") no-repeat center;
    }
  }

  .btn-clear {
    position: absolute;
    right: 0;
    width: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }

  input {
    width: 100%;
    height: 40px;
    padding-left: rem($margin-small);
  }

  .search-suggestions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translatey(100%);
    padding: rem($margin-small);
    border: 1px solid $light-grey;
    background-color: $white;
    font-size: $font-size-small;

    ul {
      max-height: 300px;
      overflow: scroll;
    }

    li {
      padding-bottom: rem($margin-small);
      cursor: pointer;
    }
  }

  &.is-inactive {
    pointer-events: none;

    input {
      background-color: $ultra-light-grey;
    }
  }
}
