.m-sidebar {

  .tabs {
    @extend %clean-lists;
    padding-top: 10px;
    padding-left: 10px;
    background-color: $bg-color-2;
  }

  .tab-title {
    a {
      padding: 10px 20px;
      background-color: transparent;
      color: #999;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: .1em;
      position: relative;
      z-index: 10;


      &:hover {
        text-decoration: none;
        background-color: $bg-color-2;
      }

      &:focus {
        outline: none;
      }
    }

    &.active {
      a {
        background-color: $font-color-3;
        color: $font-color-4;
        box-shadow: 1px -2px 4px 0px rgba(0,0,0,.1);
      }
    }
  }

  .tabs-content {
    position: absolute;
    top: 49px;
    bottom: 0;
    margin-bottom: 0;
    overflow-y: auto;
    box-shadow: 0 1px 4px 2px rgba(0,0,0,.1);

    .analyzing & {
      overflow-y: hidden;
    }

    .content {
      padding: 0 rem(10px) rem(20px);
    }
  }

}
