.m-toolbar {
  position: absolute;
  top: rem(10px);
  right: rem(10px);
  z-index: 1;

  ul {
    @extend %clean-lists;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  }

  li {
    position: relative;
    width: rem(30px);
    height: rem(30px);
    background-color: $bg-color-1;

    &.search {
      border-bottom: 1px solid rgba(151, 151, 151, 0.3);
    }

    svg {
      @extend %center
    }
  }

  .search {

    .m-map-search {
      position: absolute;
      top: 0;
      right: 30px;
      width: 0;
      height: rem(27px);
      padding-left: 10px;
      border: none;
      opacity: 0;
      transition: all .3s ease-out .3s;
      background-color: $bg-color-1;
    }

    input {
      border: none;

      @include placeholder() {
        font-size: rem(14px);
        color: $font-color-1;
      }
    }

    &:hover {
      .m-map-search {
        width: 200px;
        box-shadow: -2px 1px 3px 0 rgba(0, 0, 0, 0.1);
        opacity: 1;
      }
    }
  }


  button {
    @extend %clean-button-or-input;
    padding: 0;
  }
}
