.m-toolbar {
  position: absolute;
  top: rem(10px);
  right: rem(10px);
  z-index: 1;

  ul {
    @extend %clean-lists;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  }

  li {
    position: relative;
    width: rem(30px);
    height: rem(30px);
    background-color: $bg-color-1;

    &.search {
      border-bottom: 1px solid rgba(151, 151, 151, 0.3);
    }

    svg {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .search {

    .m-search-map {
      position: absolute;
      top: 0;
      right: 30px;
      width: 0;
      height: rem(29px);
      padding-left: 10px;
      border: none;
      opacity: 0;
      transition: width .3s $easeInSine;
      background-color: $bg-color-1;
    }

    input {
      margin-top: rem(3px);
      border: none;
      height: rem(24px);
      width: 0;
      transition: width .3s $easeInSine;

      @include placeholder() {
        font-size: rem(14px);
        color: $font-color-1;
      }
    }

    &:hover {
      .m-search-map {
        width: 200px;
        box-shadow: -2px 1px 3px 0 rgba(0, 0, 0, 0.1);
        opacity: 1;

        input {
          width: 100%;
        }
      }
    }
  }

  button {
    @extend %clean-button-or-input;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}
