<div class="name">{{name}}</div>

{{#if noData}}
<div class="widget-no-data">
  <h3>NO DATA AVAILABLE</h3>
</div>
{{else}}
<div id="{{slug}}-graph" class="widget-bar-chart graph" style="height:245px"></div>

<div id="{{slug}}-legend" class="widget-bar-chart legend"></div>

{{/if}}