/ p Find me at: app/views/embed/index.html.slim
/ .m-map#mapView

/ .l-journey#journeyView

iframe width="960" height="600" src="http://localhost:3000/embed/map?layers=%5B%7B%22id%22%3A6%2C%22opacity%22%3A1%2C%22order%22%3A0%7D%5D"