<div class='m-journey-embed--{{content.theme}}'>

  <div class="embebed-map">
    <embed src="/embed{{content.mapUrl}}&journeyMap=true" type="">
    <a href="{{content.mapUrl}}" target="_blank" class="btn-check-it">Check it on map</a>
  </div>

  <article class='side-bar'>
    {{{ content.aside }}}
    <div class="m-legend" id="legendView"></div>
    <div class="m-controls"></div>
  </article>

</div>

