<div class="m-journey-landing is-stretch" style="background-image: url({{ content.background }})">

  <div class="row">
    <div class="large-12">
      <div class="intro">
        <h1>{{content.title}}</h1>
        <h2>{{content.subtitle}}</h2>
        <div class="m-controls"></div>
      </div>
    </div>
  </div>

</div>





