<div class="m-journey-conclusion">

  <div class="content">
    <h2>{{ content.title }}</h2>
    <h3>{{ content.subtitle }}</h3>

    {{{ content.content }}}

    <div class="m-controls"></div>
  </div>

</div>
