<p>find me at: templates/journey_embed_tpl</p>

<div class='m-journey-embed--{{content.theme}}'>

  <div class='side-bar'>
    {{{ content.aside }}}

    <div class="legend"></div>

    <div class="m-controls"></div>
  </div>

  <div class="map">
    map here
  </div>

</div>

