<div class="m-journey-landing is-stretch {{content.background }}">

  <div class="row">
    <div class="large-12">
      <div class="intro">
        <h1>{{content.title}}</h1>
        <h2>{{content.subtitle}}</h2>
        <h3>{{content.theme}}</h3>
      </div>
    </div>
  </div>

  <div class="m-controls"></div>
  <div class="logo"></div>

</div>





