<div class="m-journey-chapter {{ content.background }}">
  <div class="chapter-mask--{{content.chapterNumber}} is-stretch">

    <div class="wrapper">
      <div class="chapter-intro">
        <h1>{{content.title}}</h1>
        <p>{{content.content}}</p>
      </div>
    </div>

  </div>
  <div class="m-controls"></div>
</div>

