<p>find me at: templates/journey_text_tpl</p>

<div class="m-text">

  <div class="content--{{content.align}}">
    {{content.content}}

    <div class="m-controls">
      <button id="btn-prev" mode="sub"> < </button>
      <button id="btn-next" mode="add"> > </button>
    </div>
  </div>


</div>
