<p>find me at: templates/journeys/landing_tpl</p>

<div class="m-journey-landing">
  <h1>{{content.title}}</h1>
  <h2>{{content.subtitle}}</h2>

  <button id="btn-next" mode="add" class="btn-secondary">continue</button>
</div>





