<div class="m-journey-chapter" style="background-image: url({{ content.chapterBg }})">
  <div class="chapter-mask--{{content.chapterNumber}} is-stretch">

    <div class="row">
      <div class="large-4 large-offset-6">

        <div class="chapter-intro">
          <h1>{{content.title}}</h1>
          <p>{{content.content}}</p>
          <div class="m-controls"></div>
        </div>

      </div>
    </div>

  </div>
</div>

