<div class='m-journey-embed--{{content.theme}}'>

  <div class="embebed-map">
    <embed src={{content.mapUrl}} type="">
    <a href="{{content.mapUrl}}" class="btn-check-it">Check it on map</a>
  </div>

  <article class='side-bar'>
    {{{ content.aside }}}
  </article>

   <div class="m-controls"></div>
</div>

