<div class="m-journey-text {{content.background}} ">

  <div class="wrapper">
    <div class="content--{{content.theme}} is-{{content.align}}">
      {{{ content.content }}}
    </div>
  </div>
  <div class="m-controls"></div>

</div>
