<ul>
  {{#each groups}}
    <li>
      <div class="m-layers-list-header {{#if active}}is-active{{/if}}">
        <div class="header-title">{{name}}</div>
      </div>
      <ul {{#if active}} class="is-active"{{/if}}>
        {{#each categories}}
          <li>
            <div class="m-layers-list-header {{#if active}}is-active{{/if}}">
              <div class="header-title">{{name}}</div>
              <div class="header-switch m-form-input--switch">
                <input type="checkbox" id="category_{{id}}" {{#if active}}checked{{/if}}>
                <label for="category_{{id}}"></label>
              </div>
            </div>
            <ul class="m-layers-list-panel {{#if active}}is-active{{/if}}">
              {{#each layers}}
                <li>
                  <div class="panel-item-switch m-form-input--switch">
                    <input type="checkbox" id="layer_{{id}}" {{#if active}}checked{{/if}}>
                    <label for="layer_{{id}}"></label>
                  </div>
                  <div class="panel-item-title">{{name}}</div>
                  <button class="panel-trasparecy-switcher">
                    <svg class="icon-settings">
                      <use xlink:href="#icon-settings"></use>
                    </svg>
                  </button>
                  <div class="panel-item-slider">
                    <div class="m-form-input--slider">
                      <div class="slider-wrapper">
                        <input data-id="{{id}}" type=range min=0 max=100 value={{opacity_text}} id=fader step=1 class="opacity-range">
                        <span class="opacity" style="width:{{opacity_text}}%;"></span>
                      </div>
                      <label for=fader class="opacity-teller">{{opacity_text}}%</label>
                    </div>
                  </div>
                </li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
