<div class="wrapper">
  <div class="m-legend__content">
    <ul class="m-legend__list">
    {{#each legends}}
      <li class="drag-items" data-id="{{this.id}}">
        <header>
          <span class="draggable-icon">
            <svg><use xlink:href="#icon-drag"></use></svg>
          </span>
          <h3>{{this.name}}</h3>
          <div class="actions"></div>
        </header>
        {{#if this.tpl}}
          {{{this.tpl}}}
        {{/if}}
      </li>
    {{/each}}
    </ul>
  </div>
</div>
