<div class="m-legend__choropleth">
  {{#each bucket}}
    <div class="item" style="background-color: {{this}}"></div>
  {{/each}}
  <div class="numbers">
    <span>{{min}}</span>
    <span>{{mid}}</span>
    <span>{{max}}</span>
  </div>
</div>
