<ul class="m-legend__choropleth">
  {{#each bucket}}
    <li style="background-color: {{this}}"></li>
  {{/each}}
  <div class="numbers">
    <span>{{min}}</span>
    <span>{{max}}</span>
  </div>
</ul>
