<button class="btn-action btn-visibility {{#if this.opacity_prev}}is-active{{/if}}" data-id="{{this.id}}">
  {{#if this.opacity_prev}}
    <svg><use xlink:href="#icon-visibilityoff"></use></svg>
  {{else}}
    <svg><use xlink:href="#icon-visibilityon"></use></svg>
  {{/if}}
</button>
