meta charset="utf-8"
meta name="description" content=""
meta name="viewport" content="width=device-width, initial-scale=1"

meta content=("An interactive tool that provides users with a deep understanding of the resilience of specific systems like livestock or agriculture") name="description" /
meta content="Resilience Atlas" itemprop="name" /
meta content=("Resilience Atlas") itemprop="description" /
meta content="logo.jpg" itemprop="image" /
meta content=("Resilience Atlas") name="twitter:card" /
meta content="@resilienceatlas" name="twitter:site" /
meta content="Resilience Atlas" name="twitter:title" /
meta content=("An interactive tool that provides users with a deep understanding of the resilience of specific systems like livestock or agriculture") name="twitter:description" /
meta content="" name="twitter:creator" /
meta content="logo.jpg" name="twitter:image:src" /
meta content="" name="twitter:player" /
meta content="www.resilienceatlas.org" property="og:url" /
meta content="Resilience Atlas" property="og:title" /
meta content=("The Resilience Atlas is a breakthrough interactive tool that includes more than 60 datasets in an easy-to-use interface to gauge resilience at local, national, and regional scales.") property="og:description" /
meta content="Resilience Atlas" property="og:site_name" /
meta content="logo.jpg" property="og:image" /
meta content="" property="fb:admins" /
meta content="" property="fb:app_id" /
meta content="" property="og:type" /
meta content="en_US" property="og:locale" /
meta content="" property="og:audio" /
meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE" /
