meta.foundation-data-attribute-namespace {
  font-family: false; }

.accordion {
  margin-bottom: 0;
}

.accordion:before,
.accordion:after {
  content: " ";
  display: table;
}

.accordion:after {
  clear: both;
}

.accordion-navigation {
  .btn-info {
    display: inline-block;
  }
}

.accordion .accordion-navigation,
.accordion dd {
  display: block;
  margin-bottom: 0 !important;
}

.accordion .accordion-navigation > a,
.accordion dd > a {
  display: block;
  padding: rem($margin-small);
}

.accordion-navigation-nogroup {
  padding: rem($margin-small);
}

.accordion-navigation {

  .accordion-category-title {
    font-weight: bold;
    text-transform: capitalize;

    &:before {
      content: '';
      display: inline-block;
      @include equi-triangle (5px, $color-1, right);
      transition: all .2s ease-out;
    }
  }

  &.active {
    .accordion-category-title:before {
      transform: rotate(90deg);
    }
  }
}

.accordion .accordion-navigation > .content,
.accordion dd > .content {
  display: none;
}

.accordion .accordion-navigation > .content.active,
.accordion dd > .content.active {
  display: block;
}

.layers-group {
  padding-left: rem($margin-medium);
}

.layer-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem($margin-small);

  .switcher {
    float: left;
  }
}

.layer-item-content {
  width: 90%;

  .layer-item-name {
    max-width: 88%;
    font-weight: regular;
    margin-left: rem($margin-small);
    float: left;
  }
}

