/*
 * SWITCHER
 * <div class="switcher">
 *  <input id="{{slug}}" type="checkbox">
 *  <label for="{{slug}}"></label>
 * </div>
 */
@mixin switcher ($width, $height, $color, $bg-color, $bg-color-active) {
  display: inline-block;
  position: relative;
  width: $width;
  height: $height;

  label {
    position: absolute;
    width: $width;
    height: $height;
    border: 1px solid $color;
    background-color: $bg-color;
    border-radius: $height;
    cursor: pointer;
    transition: .2s ease-in;

    &:after {
      content: '';
      @extend %centery;
      z-index: 1;
      left: 2px;
      width: $height - 4px;
      height: $height - 4px;
      border-radius: 50%;
      background-color: $color;
      transition: .2s ease-in;
    }
  }

  input {
    @extend %form-field-reset;
    @extend %centery;
    z-index: 1;
    left: 2px;
    width: $height - 4px;
    height: $height - 4px;
    border-radius: 50%;
    background-color: $color;
    opacity: 0;
    transition: .2s ease-in;
  }

  input:checked {
    left: $width - $height + 1px;
    background-color: $white;

    & + label {
      // background-color: $bg-color-active;
      &:after {
        left: $width - $height + 1px;
        background-color: $white;
      }
    }
  }
}

/*
 * CIRCLE
 */
 @mixin circle ($diameter, $text-color, $border-width, $circle-color, $circle-type) {
   box-sizing: border-box;
   width: $diameter;
   height: $diameter;
   line-height: $diameter;
   text-align: center;
   border-radius: 50%;
   color: $text-color;

   @if ($circle-type == solid) {
     background-color: $bg-color;
   } @else if ($circle-type == border) {
     border: $border-width solid $circle-color;
   } @else if ($circle-type == circle-with-border){
     border: $border-width solid $circle-color;
     background-color: $circle-color;
   }
 }
