// Include fonts

@mixin font-face($font-name, $font-file, $weight, $style: "normal") {
  @font-face {
    font-family: $font-name;
    src: font-url("#{$font-file}.eot");
    src: font-url("#{$font-file}.eot?#iefix") format("embedded-opentype"),
         font-url("#{$font-file}.woff2") format("woff2"),
         font-url("#{$font-file}.woff") format("woff"),
         font-url("#{$font-file}.ttf") format("truetype"),
         font-url("#{$font-file}.svg") format("svg");
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin ellipsis ($max-width){
  display: inline-block;
  max-width: $max-width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}