/*
  Layouts and structure
 */
$content-width: 960px;
$margin: 30px;

/* Layout common values */
$header-height: 65px;


/*
  Fonts and typography
 */

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be different and not have it affect the grid breakpoints,
// set $rem-base to $base-font-size and make sure $base-font-size is a px value.
$rem-base: 16px;
$base-font-size: 100% !default;

// $base-line-height is 24px while $base-font-size is 16px
$base-line-height: 150% !default;

/*
  Colors
 */
$white: #fff;
$blue: #0089cc;
$gray: #555;
$gray-light: #f9f9f9;

/*
  Theme
 */
$bg-color-1: $white;
$bg-color-2: $blue;
$bg-color-3: $gray-light;

$font-color-1: $gray;
$font-color-2: $blue;
$font-color-3: $white;
