/*
  Layouts and structure
 */
$content-width: 1440px;
$margin: 30px;
$content-margin: 40px;

$row-width: 1200px;

/* Layout common values */
$header-height: 65px;
$sidebar-width: 350px;
$sidebar-analysis-width: 490px;

/*
  Fonts and typography
 */
@include font-face("Franklin", "ITCFranklinGothicStd-Demi", 700);
@include font-face("Franklin", "ITCFranklinGothicStd-Med", 500);
@include font-face("Franklin", "ITCFranklinGothicStd-Book", 400);
@include font-face("FranklinCD", "ITCFranklinGothicStd-DmCp", 400);

$font-face-1: "Franklin";
$font-face-2: "FranklinCD";

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be different and not have it affect the grid breakpoints,
// set $rem-base to $base-font-size and make sure $base-font-size is a px value.
$rem-base: 16px;
$base-font-size: 100% !default;

// $base-line-height is 24px while $base-font-size is 16px
//Line-height 150% was given a bunch of problems.
$base-line-height: 1.2em !default;

/*
  Colors
 */
$white: #fff;
$white-medium: #eee;
$black: #000;
$black-charcoal: #222;
$blue: #0089cc;
$gray: #555;
$gray-medium: #979797;
$gray-light: #f9f9f9;
$gray-5: #F6F6F6;
$gray-70: #555555;

/*
  Theme
 */
$bg-color-1: $white;
$bg-color-2: $blue;
$bg-color-3: $gray-light;
$bg-color-4: $gray-medium;
$bg-color-5: $black;
$bg-color-6: $white-medium;


$font-color-1: $gray;
$font-color-2: $blue;
$font-color-3: $white;
$font-color-4: $black-charcoal;


/*
  Animations --> provisonal aquí para poder probarlas.
 */
// Sine
$easeInSine:  cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine:  cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInOutSine:  cubic-bezier(0.445, 0.050, 0.550, 0.950);

// Cubic
$easeInCubic:  cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic:  cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInOutCubic :  cubic-bezier(0.645, 0.045, 0.355, 1.000);
