// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/active_admin_globalize";
@import "active_admin/mixins";
@import "active_admin/base";
@import "trix";
@import "wigu/active_admin_theme";
// @import "activeadmin-sortable";
@import "active_admin/sortable";
@import 'activeadmin_addons/all';

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
div#footer{display: none;}
#layer_group_submit_action input{color: #5E6469;}
#layer_group_submit_action:hover input{color: white;}
.active_admin {
  form trix-editor, form #trix-toolbar-1 {
    margin-left: 20%;
    width: calc(80% - 17px);
  }
}
.trix-content {
  ul {
    list-style: disc !important;
  }
  ol {
    list-style-type: decimal !important;
  }
}
