//= require normalize-rails
//= require jquery-ui/sortable
//= require slick-carousel

@import
  'mixins',
  'settings';

// Importing dependencies and helpers
@import
  'foundation-sass/foundation/components/_grid',
  'foundation-sass/foundation/components/_switches';

// Importing project settings
@import
  'base',
  'icons';


// Importing layouts and modules
@import 'layouts/*', 'modules/*';

// Global states
@import 'states';

// Action Text
@import "actiontext";
