// ============================================================================
// Layouts Index
// ============================================================================
// Forwards all layout partials
// ============================================================================

@forward 'l-header';
@forward 'l-footer';
@forward 'l-main';
@forward 'l-content';
@forward 'l-journey-intro';
@forward 'l-journey-index';
@forward 'l-sidebar';
@forward 'l-journey';
