@use '../sass-modules' as *;
@use '../mixins' as *;
@use '../variables' as *;

.l-sidebar,
.l-sidebar--default {
  width: rem($sidebar-width);

  .l-sidebar-content {
    padding: rem($margin);
  }
}

.l-sidebar-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  box-shadow: 0 1px 4px 2px rgba(0,0,0,.1);

  .btn-analysis-panel-contract {
    position: absolute;
    top: 0;
    right: 0;
    width: rem(25px);
    height: rem(48px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 0;
    z-index: 2;
    outline: none;

    &:focus, &:active {
      &:after {
        @include arrow(8px, $blue, 2px, -45deg);
      }
    }

    &:after {
      content: '';
      @include arrow(8px, $gray-70, 2px, -45deg);
      transition: .25s ease-in-out;
    }
  }

  .btn-analysis-panel-expand {
    position: absolute;
    top: 9px;
    left: #{$sidebar-width + 10px};
    height: rem(30px);
    padding: 0 10px;
    text-transform: uppercase;
    background-color: $bg-color-1;
    border: 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    letter-spacing: .1em;
    font-weight: 700;
    color: $font-color-4;
    font-size: 12px;
    line-height: 32px;
    outline: none;

    &:focus, &:active {
      background: $blue;
      color: $white;
    }
  }

  .btn-map-feedback {
    position: absolute;
    bottom: 0;
    left: #{$sidebar-width + 10px};
    height: rem(28px);
    padding: 0 14px;
    text-transform: uppercase;
    background-color: $gray-70;
    border: 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    letter-spacing: .1em;
    font-weight: 700;
    color: $white;
    font-size: 12px;
    line-height: 32px;
    outline: none;
  }
}

.l-sidebar--fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: rem($sidebar-width);

  background-color: $bg-color-1;
  z-index: 1;
  transition: .25s ease-in-out;

  // Sidebar toggle button - positioned relative to l-sidebar--fullscreen
  .btn-sidebar-toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: rem(25px);
    height: rem(48px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 0;
    z-index: 6; // Above l-sidebar-content (z-index: 5)
    outline: none;

    &:focus, &:active {
      &:after {
        @include arrow(8px, $blue, 2px, -45deg);
      }
    }

    &:after {
      content: '';
      @include arrow(8px, $gray-70, 2px, -45deg);
      transition: .25s ease-in-out;

      .is-collapsed & {
        transform: rotate(135deg);
      }
    }

    // Mobile: Hide this button, use MobileSidebarToggle component instead
    @media screen and (max-width: $breakpoint-mobile) {
      display: none;
    }
  }

  // .is-not-bare & {
  //   top: rem($header-height);
  // }

  &.is-collapsed {
    // 25px for the toggle button
    transform: translatex(calc(25px - 100%));
  }


  &.analyzing .analysis-panel {
    transform: translateX(0);

  }

  .analysis-panel {
    position: absolute;
    top: 0;
    left: rem($sidebar-width);
    bottom: 0;
    width: $sidebar-analysis-width;
    transform: translateX(-100%);
    background-color: $bg-color-1;
    transition: .25s ease-in-out;
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    > .title {
      position: sticky; // Needed for the scroll
      top: 0;
      left: 0;
      width: 100%;
      height: 49px; // Not 50 to align with the sidebar
      padding: 0 25px;
      background-color: $gray-6;
      line-height: 54px;
      color: $font-color-4;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .1em;
      border-bottom: 1px solid $gray-7;
      z-index: 1; // Needed for the scroll
    }

    .content {
      position: relative;
      flex-grow: 1;
      background-color: $gray-5;
    }
  }

  .l-main--embed & {
    background-color: transparent;
    box-shadow: none;
    text-align: left;
    width: auto;

    .brand-area a {
      width: 150px;
    }

    .l-header-nav {
      padding-top: 20px;
    }
  }

  .sidebar-logo {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;

    .has-sidebar-logo & {
      display: block;
    }

    .brand-area {
      background-image: url('https://resilienceatlas-assets.s3.amazonaws.com/logo_CI.png');
    }

    .site-title {
	  text-align: center;
	  font-size: rem(24px);
	  font-weight: 400;
	  text-transform: uppercase;
	  line-height: 1;
	  margin: 4px;

	  a:visited{
  	    color:#555555;
      }
    }

    .site-title-by {
	  text-align: center;
      font-size: rem(12px);
	  margin: 0px;
    }

    .site-copyright {
	  text-align: center;
      font-size: rem(12px);
	  margin: 5px;
    }
  }

  .brand-area {
    display: block;
    width: rem(142px);
    height: 2.8125rem;
    padding: 0.3125rem 0;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    text-indent: -99999px;
  }

  // Mobile responsive styles
  @media screen and (max-width: $breakpoint-mobile) {
    // Full width sidebar on mobile when expanded
    width: 100%;
    max-width: 100vw;
    z-index: 1000; // Higher z-index to appear above map

    &.is-collapsed {
      // Collapse completely off-screen on mobile
      transform: translateX(-100%);
    }

    // Add backdrop overlay when sidebar is open on mobile
    // The backdrop captures clicks on the parent element (l-sidebar--fullscreen)
    // to close the sidebar, while clicks on sidebar content are stopped via stopPropagation
    &:not(.is-collapsed)::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: -1; // Behind sidebar content but above map
      pointer-events: none; // Don't block clicks on the pseudo-element itself
    }

    .analysis-panel {
      // Hide analysis panel on mobile or make it overlay
      display: none;
    }

    .btn-analysis-panel-expand {
      // Position analysis button differently on mobile
      left: 10px;
      top: auto;
      bottom: 60px;
    }

    .btn-map-feedback {
      // Position feedback button differently on mobile
      left: 10px;
    }
  }

  // Tablet responsive styles
  @media screen and (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {
    // Slightly narrower sidebar on tablets
    width: rem(300px);

    .analysis-panel {
      width: 400px;
    }
  }
}



