.l-map
  #loader LOADING
  #mapView
/ .m-modal.reveal-modal#modalBox data-reveal="" aria-labelledby="modalTitle" aria-hidden="true" role="dialog"
/   .modal-content
/   a.close-reveal-modal aria-label="Close" &#215;
/ .m-search#searchView
/ .m-legend#legendView
/ .m-dashboard#dashboardView
/ .m-analysis#analysisView
/ .m-timeline#timelineView
/ .m-custom-info-window#custom-info-window
